data/aws-saa.json
{"questions":[{"id":"q-1047","question":"Design a multi-tenant analytics data lake on AWS for 3,000 tenants with strict data isolation. Propose an architecture using a shared S3 data lake with per-tenant prefixes, Lake Formation permissions, and ABAC via tenant tags. Outline governance (IAM, KMS, RAM), onboarding/offboarding automation, cost accounting, and cross-region DR. Include testing strategies to validate isolation and detect privilege escalation?","answer":"Architect a shared S3 data lake with per-tenant prefixes and Lake Formation permissions, plus ABAC via tenant tags and IAM conditions for fine-grained access. Use RAM for cross-account sharing, CMK en","explanation":"## Why This Is Asked\n\nAssesses ability to architect scalable per-tenant isolation in a data lake using Lake Formation, ABAC, and cross-region DR. Evaluates governance, automation, and cost controls.\n\n## Key Concepts\n\n- Shared data lake with per-tenant prefixes\n- Lake Formation fine-grained access controls\n- ABAC via tenant tags and IAM conditions\n- RAM cross-account sharing and CMK encryption\n- Automated onboarding/offboarding and cost accounting\n- Cross-region DR and isolation validation\n\n## Code Example\n\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"s3:GetObject\"],\n      \"Resource\": \"arn:aws:s3:::mylake/tenant-*/data/*\",\n      \"Condition\": {\"StringEquals\": {\"s3:ExistingObjectTag/Tenant\": \"TenantA\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n\n- How would you validate tenant isolation in non-prod environments without impacting customers?\n- What DR testing plan and failure scenarios would you run to ensure resilience?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","Robinhood","Snowflake"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-12T20:32:54.576Z","createdAt":"2026-01-12T20:32:54.576Z"},{"id":"q-1203","question":"A web app runs in a private subnet in a VPC with no Internet access. It must fetch a config.json from a single S3 bucket owned by the same account. Design the minimal IAM role for the EC2 instance, a bucket policy, and a VPC endpoint setup to allow access via the VPC endpoint while denying access to other buckets. What steps and policies would you implement?","answer":"Create an IAM role with s3:GetObject permission for the specific object, set up a Gateway VPC endpoint for S3, configure route tables to direct S3 traffic to the endpoint, and implement a bucket policy that allows access only from the VPC endpoint while denying all other access.","explanation":"## Why This Is Asked\nTests practical implementation of least-privilege access patterns combining IAM roles, VPC endpoints, and bucket policies for secure private subnet access.\n\n## Key Concepts\n- IAM instance roles for EC2\n- Gateway VPC endpoints for S3\n- Route table configuration for private subnets\n- Bucket policies with VPCE conditions\n- Defense-in-depth with deny-by-default\n\n## Implementation Steps\n\n### 1. IAM Role for EC2 Instance\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": \"s3:GetObject\",\n      \"Resource\": \"arn:aws:s3:::config-bucket/config.json\"\n    }\n  ]\n}\n```\n\n### 2. Create S3 Gateway VPC Endpoint\n```bash\naws ec2 create-vpc-endpoint \\\n  --vpc-id vpc-12345678 \\\n  --service-name com.amazonaws.<region>.s3 \\\n  --route-table-ids rtb-private-subnet \\\n  --policy-document '{\n    \"Version\": \"2012-10-17\",\n    \"Statement\": [\n      {\n        \"Effect\": \"Allow\",\n        \"Principal\": \"*\",\n        \"Action\": [\"s3:GetObject\"],\n        \"Resource\": \"arn:aws:s3:::config-bucket/config.json\"\n      }\n    ]\n  }'\n```\n\n### 3. S3 Bucket Policy with VPCE Condition\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::<account-id>:role/ec2-config-role\"},\n      \"Action\": \"s3:GetObject\",\n      \"Resource\": \"arn:aws:s3:::config-bucket/config.json\",\n      \"Condition\": {\n        \"StringEquals\": {\n          \"aws:SourceVpce\": \"vpce-12345678\"\n        }\n      }\n    },\n    {\n      \"Effect\": \"Deny\",\n      \"Principal\": \"*\",\n      \"Action\": \"s3:*\",\n      \"Resource\": \"arn:aws:s3:::config-bucket/*\",\n      \"Condition\": {\n        \"StringNotEquals\": {\n          \"aws:SourceVpce\": \"vpce-12345678\"\n        }\n      }\n    }\n  ]\n}\n```\n\n### 4. Route Table Configuration\n```bash\n# Add route to S3 VPC endpoint\naws ec2 create-route \\\n  --route-table-id rtb-private-subnet \\\n  --destination-prefix 0.0.0.0/0 \\\n  --vpc-endpoint-id vpce-12345678\n```\n\n### 5. Security Group for VPC Endpoint\n```json\n{\n  \"Description\": \"Allow HTTPS for S3 endpoint\",\n  \"IpPermissions\": [\n    {\n      \"IpProtocol\": \"tcp\",\n      \"FromPort\": 443,\n      \"ToPort\": 443,\n      \"UserIdGroupPairs\": [{\"GroupId\": \"sg-private-subnet\"}]\n    }\n  ]\n}\n```\n\n## Testing and Validation\n```bash\n# Test from EC2 instance\naws s3 cp s3://config-bucket/config.json ./config.json\n\n# Verify VPCE usage in CloudTrail logs\n# Check that requests come from the VPC endpoint\n```\n\n## Security Considerations\n- IAM role provides object-level access only\n- VPC endpoint policy restricts to specific object\n- Bucket policy enforces VPCE-only access\n- No internet gateway required\n- Defense-in-depth with multiple policy layers","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","DoorDash","Snowflake"],"eli5":null,"relevanceScore":null,"voiceKeywords":["iam role","vpc endpoint","bucket policy","private subnet","least privilege","gateway vpc endpoint","route tables","vpce conditions"],"voiceSuitable":true,"isNew":false,"lastUpdated":"2026-01-13T12:22:33.465Z","createdAt":"2026-01-13T04:50:53.820Z"},{"id":"q-1318","question":"A Secrets Manager secret in account A stores DB credentials used by an app in account B. You need a Lambda in account B to rotate the secret daily. Describe the cross-account access setup, including the secret's resource policy, the Lambda's execution role, and the minimal privileges on the DB user, plus a simple test plan?","answer":"Attach a resource policy on the secret in account A granting Secrets Manager to rotate and read the secret to the Lambda role in account B. Create a cross-account role in A trusted by the Lambda in B;","explanation":"## Why This Is Asked\nThis tests cross-account Secrets Manager rotation, IAM trust, and a verifiable test plan for beginners.\n\n## Key Concepts\n- Secrets Manager rotation workflow\n- Cross-account IAM roles and resource policies\n- Least privilege and auditing\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::ACCOUNT_B:role/SecretRotator\"},\n      \"Action\": [\"secretsmanager:RotateSecret\",\"secretsmanager:GetSecretValue\",\"secretsmanager:DescribeSecret\"],\n      \"Resource\": \"arn:aws:secretsmanager:REGION:ACCOUNT_A:secret:secret-name\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you rotate a credential for an RDS instance? \n- How would you monitor rotation success and audit access?","diagram":"flowchart TD\nA[Secret in Account A] --> B[Rotation Lambda (Account B) tries rotate]\nB --> C[PutSecretValue / RotateSecret]\nC --> D[DB credentials updated]\nD --> E[App (Account B) uses new creds]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","Coinbase"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-13T11:31:32.841Z","createdAt":"2026-01-13T11:31:32.841Z"},{"id":"q-1390","question":"In a managed SaaS environment, each customer gets its own AWS account under a shared Organization. You require SSO-based access to their account via IAM Identity Center, provisioning per-customer roles via SCIM, with temporary credentials; ensure strict tenant isolation and prevent cross-tenant access. Describe the IAM role structure, trust/policy design, SSO mappings, and use of SCPs, tagging, and audit strategy. Include how you'd validate isolation and detect misconfigurations?","answer":"Leverage Organizations per-tenant accounts; IAM Identity Center with SCIM to provision per-customer users; assign a per-tenant role with a permission boundary; use trust with Identity Center; enforce ","explanation":"## Why This Is Asked\nTests multi-tenant access at scale using IAM Identity Center, SCIM, SCPs, and governance.\n\n## Key Concepts\n- IAM Identity Center and SCIM provisioning\n- AWS Organizations and per-tenant accounts\n- Trust policies for federated access\n- Permissions boundaries and least privilege\n- Resource tagging and centralized auditing (CloudTrail, Config)\n\n## Code Example\n```javascript\nconst trustPolicy = {\n  Version: \"2012-10-17\",\n  Statement: [\n    {\n      Effect: \"Allow\",\n      Principal: { Federated: \"arn:aws:iam::111111111111:saml-provider/IdentityCenter\" },\n      Action: \"sts:AssumeRole\",\n      Condition: { StringEquals: { \"SAML:aud\": \"https://signin.aws.amazon.com/saml\" } }\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you test for cross-tenant access leakage?\n- How would you automate onboarding/offboarding with SCIM and rotate credentials?","diagram":"flowchart TD\n  A[Tenant account] --> B[Identity Center]\n  B --> C[per-tenant role]\n  C --> D[STS AssumeRole with temporary credentials]\n  D --> E[Audit: CloudTrail + Config]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["DoorDash","Lyft","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-13T14:50:47.983Z","createdAt":"2026-01-13T14:50:47.983Z"},{"id":"q-1402","question":"Scenario: You operate a multi-tenant SaaS on AWS. Each tenant stores its data in separate accounts with per-tenant prefixes in S3 and DynamoDB. Partners require selective data exports to their accounts for analytics. Design a scalable, secure data export and access model that guarantees tenant isolation, supports per-tenant export scopes, uses least-privilege cross-account roles, per-tenant KMS keys, and catalog governance (Lake Formation/Data Catalog). Include onboarding/offboarding, cost controls, monitoring, and testability?","answer":"Implement per-tenant cross-account export roles in partner accounts with a trusted role in the tenant account; govern access via Lake Formation catalog permissions scoped to the tenant; share a restri","explanation":"## Why This Is Asked\n\nThis question probes practical cross-account data sharing with strict tenant isolation, governance, and lifecycle in a SaaS context. Candidates must translate policy, IAM, KMS, Lake Formation, and monitoring into an end-to-end solution.\n\n## Key Concepts\n\n- least-privilege cross-account access\n- Lake Formation data governance\n- per-tenant KMS keys and envelope encryption\n- onboarding/offboarding and revocation\n- monitoring, drift testing, and auditability\n\n## Code Example\n\n```javascript\n// Cross-account trust policy example\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": { \"AWS\": \"arn:aws:iam::PARTNER_ACC_ID:role/PartnerExportRole\" },\n      \"Action\": \"sts:AssumeRole\",\n      \"Condition\": { \"StringEquals\": { \"sts:ExternalId\": \"tenant-abc-export\" } }\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n\n- How would you detect and remediate policy drift across 50+ accounts?\n- How would you validate data isolation using Lake Formation and Athena queries?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Airbnb","Databricks","Netflix"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-13T15:43:51.889Z","createdAt":"2026-01-13T15:43:51.889Z"},{"id":"q-1425","question":"In a multi-tenant SaaS on AWS with per-tenant accounts and a central analytics account, design secure cross-account access so tenants can query their data without seeing others. Describe the cross-account role structure, trust policies, session controls, least-privilege, and validation/audit approach for onboarding/offboarding?","answer":"Create per-tenant cross-account roles in the analytics account (arn:aws:iam::ANALYTICS:role/TenantQueryRole) with a trust policy that allows sts:AssumeRole only from the tenant account IDs. Attach a l","explanation":"## Why This Is Asked\n- Tests cross-account trust design and least-privilege controls in a multi-tenant SaaS\n- Probes data isolation through per-tenant prefixes and policy-based controls\n- Evaluates automated onboarding/offboarding and auditability\n\n## Key Concepts\n- Cross-account IAM roles, STS AssumeRole, session policies\n- Data isolation with per-tenant prefixes and least privilege access\n- SCPs to prevent cross-tenant access and CloudTrail for audit\n\n## Code Example\n\n```javascript\n// design-focused: no runnable code required\n```\n\n## Follow-up Questions\n- How would you automate tenant onboarding to provision roles and rotate credentials?\n- How would you validate isolation after onboarding and detect misconfigurations?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Microsoft","Salesforce","Scale Ai"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-13T16:46:57.507Z","createdAt":"2026-01-13T16:46:57.508Z"},{"id":"q-1515","question":"Scenario: A Lambda function in a VPC must securely retrieve a DB password from Secrets Manager to connect to an RDS instance. The secret is encrypted with a customer-managed CMK in the same account. Describe the exact IAM policy statements for the Lambda execution role to permit GetSecretValue and DescribeSecret on that secret, and kms:Decrypt on the CMK; include any needed resource-based or key policies and how you’d validate least privilege and rotation compatibility?","answer":"Lambda role policy: allow secrets:GetSecretValue, secrets:DescribeSecret on the secret ARN; kms:Decrypt on the CMK. If needed, add a Secrets Manager resource policy granting the role and ensure KMS ke","explanation":"## Why This Is Asked\nTests IAM, Secrets Manager, KMS, and least-privilege design for a common pattern.\n\n## Key Concepts\n- IAM policies and resource-based policies\n- Secrets Manager access and GetSecretValue\n- KMS Decrypt with CMK permissions\n- VPC-bound Lambda security and rotation compatibility\n\n## Code Example\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\"Effect\": \"Allow\", \"Action\": [\"secretsmanager:GetSecretValue\", \"secretsmanager:DescribeSecret\"], \"Resource\": \"arn:aws:secretsmanager:REGION:ACCOUNT:secret:dbpassword-*\"},\n    {\"Effect\": \"Allow\", \"Action\": \"kms:Decrypt\", \"Resource\": \"arn:aws:kms:REGION:ACCOUNT:key/CMK_ID\"}\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you test rotation compatibility with this setup?\n- How would you extend to cross-account secrets access without leaking privileges?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Databricks","Meta","Snowflake"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-13T19:51:11.860Z","createdAt":"2026-01-13T19:51:11.860Z"},{"id":"q-1532","question":"Design a per-tenant, region-aware analytics pipeline for a multi-account AWS SaaS where each tenant's data residency must stay in its region. Explain how you’d enforce data locality, isolate tenant data, share insights back to a central analytics account, and test DR?","answer":"Implement a regional data plane where tenant data remains in its designated region within S3, secured by tenant-scoped Lake Formation permissions. Utilize STS AssumeRole for cross-account analytics access from a central account, enforced through explicit tenant tags and Service Control Policies that maintain regional boundaries. Deploy per-tenant Glue databases with column-level security controls, and leverage PrivateLink for secure analytics connectivity. For disaster recovery, validate regional failover capabilities by simulating region outages and confirming tenant data replication to backup regions while preserving strict isolation.","explanation":"## Why This Is Asked\nTests the ability to design region-aware data pipelines in multi-account AWS environments while enforcing strict data residency and isolation requirements with centralized analytics capabilities.\n\n## Key Concepts\n- Data residency and regional data storage\n- Per-tenant IAM roles and STS cross-account access\n- Lake Formation and Glue permissions by tenant\n- Service Control Policies and tagging for isolation\n- Private connectivity via PrivateLink for analytics\n\n## Code Example\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Ac\"","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Bloomberg","Google"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-14T06:34:52.222Z","createdAt":"2026-01-13T20:48:52.418Z"},{"id":"q-1566","question":"In a multi-tenant SaaS on AWS, each tenant's data sits in a separate prefix under a shared data lake. Propose a beginner-friendly, cost-conscious approach to let tenants access their own analytics dashboards through a central BI tool without cross-tenant data exposure. Specify IAM patterns, data access controls, and how you'd validate isolation and cost?","answer":"Implement a cross-account per-tenant role model. The BI tool operates in a shared analytics account and assumes dedicated tenant-specific roles to access only their respective S3 prefix (lake/tenant-id/*) with s3:GetObject permissions. Enforce least privilege through service control policies that restrict role assumption to the analytics account exclusively. Create tenant-specific IAM roles with inline policies scoped precisely to their S3 prefix, and optionally leverage AWS Lake Formation for additional column-level security when required.","explanation":"## Why This Is Asked\nTests ability to design secure multi-tenant data isolation, implement proper access controls, and maintain cost awareness in a common SaaS architecture pattern.\n\n## Key Concepts\n- Multi-tenant isolation using S3 prefixes and per-tenant IAM roles\n- Cross-account access with principle of least privilege\n- Service control policies for centralized governance\n- Cost-effective shared BI tooling with tenant-specific access\n- Validation through automated testing and cost monitoring\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"s3:GetObject\"],\n      \"Resource\": \"arn:aws:s3:::lake/tenant-id/*\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you handle tenant onboarding and role automation?\n- What monitoring would you implement to detect potential cross-tenant access?\n- How would this design scale to hundreds of tenants?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Microsoft","Robinhood"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-14T06:18:21.443Z","createdAt":"2026-01-13T21:52:16.521Z"},{"id":"q-1592","question":"An analytics SaaS runs in a single AWS region with private data stores. You must enable cross‑region DR with automated failover to a secondary region within 30 minutes, preserving tenant isolation and continuous client access. Design the architecture using Aurora Global Database, S3 cross‑region replication, Route 53 failover, per‑tenant data partitioning, and regionally isolated KMS keys. Include data‑sync, cutover automation, and a testing plan?","answer":"Deploy Aurora Global Database across us-east-1 and us-west-2 to replicate the OLTP workload with near-zero RPO; configure S3 cross-region replication for backups; implement per-tenant data partitioning with regionally isolated KMS CMKs; establish Route 53 failover routing with health checks; automate cutover using Systems Manager Automation or Step Functions.","explanation":"## Why This Is Asked\nTests DR strategy, cross-region replication, tenant isolation, and automation under realistic constraints.\n\n## Key Concepts\n- Aurora Global Database for cross-region replication\n- S3 cross-region replication for backups\n- Regionally isolated KMS CMKs and per-tenant data partitioning\n- Route 53 failover routing with health checks\n- Systems Manager Automation or Step Functions for DR runbooks\n\n## Code Example\n```bash\n# Enable Aurora Global Database across two regions (example CLI; adjust identifiers)\naws rds create-db-cluster --engine aurora-mysql --global-cluster-name SaaS-","diagram":"flowchart TD\n  A[Primary region us-east-1] --> B[Replica region us-west-2]\n  B --> C[Promote replica on failover]\n  A --> D[S3 cross-region backups]\n  E[DNS failover via Route 53] --> F[Client endpoints]\n  G[KMS CMKs per region] --> H[Tenant data isolation]","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Databricks","Microsoft"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-14T05:34:58.788Z","createdAt":"2026-01-13T23:26:33.476Z"},{"id":"q-1778","question":"You run a multi-tenant SaaS on AWS with a central control plane and per-tenant accounts. On signup, you must provision a dedicated VPC Endpoint service and per-tenant IAM roles with least privilege for cross-account access, revocable within 60 seconds. Describe the architecture, trust policies, RAM/PrivateLink usage, SCIM provisioning, and how you would automate validation and rollback with EventBridge and Step Functions?","answer":"Use a central control plane to provision per-tenant accounts with AWS RAM and PrivateLink. Each tenant account gets a dedicated role (trusted by the control plane via sts:AssumeRole) with least-privil","explanation":"**Why This Is Asked**\nInterviewers test multi-tenant governance, cross-account trust, and automation for isolated customer environments using PrivateLink, RAM, and SCIM in a scalable SaaS model.\n\n## Key Concepts\n- PrivateLink and VPC Endpoint Services for private connectivity\n- AWS RAM for sharing resources across accounts\n- Cross-account IAM roles with strict trust policies\n- SCIM provisioning for onboarding/offboarding\n- EventBridge and Step Functions for automated workflows\n- Audit via CloudTrail and drift rollback strategies\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\"Effect\": \"Allow\", \"Action\": \"sts:AssumeRole\", \"Resource\": \"arn:aws:iam::CENTRAL:role/ControlPlaneRole\"},\n    {\"Effect\": \"Allow\", \"Action\": [\"execute-api:Invoke\"], \"Resource\": \"arn:aws:execute-api:*\"}\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you test tenant revocation latency and verify no cached credentials exist?\n- How would you enforce per-tenant data residency and monitor drift across accounts?","diagram":"flowchart TD\n  Signup[Signup] --> ProvisionSCIM[SCIM Onboarding]\n  ProvisionSCIM --> SharePrivateLink[Share PrivateLink via RAM]\n  SharePrivateLink --> TenantRole[Tenant Role Created]\n  TenantRole --> AccessGrant[Access Granted]\n  AccessGrant --> AuditRevocation[Audit & Revocation Timer]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","Instacart","NVIDIA"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T10:42:12.277Z","createdAt":"2026-01-14T10:42:12.277Z"},{"id":"q-1796","question":"Scenario: A SaaS runs per-tenant accounts across AWS Organizations. A tenant's IAM role is suspected to be compromised, enabling sideways access to the central control plane. Propose a zero-downtime incident response workflow that (a) detects via CloudTrail/GuardDuty/EventBridge, (b) revokes the compromised role’s trust, (c) isolates the tenant from cross-account access, and (d) notifies security and customer teams within 60 seconds. Include workflow steps and rollback?","answer":"To detect and contain a compromised per-tenant IAM role within 60 seconds, bootstrap a triad: feed CloudTrail, GuardDuty, and IAM access analyzer findings to EventBridge; trigger a Step Functions stat","explanation":"## Why This Is Asked\nTests incident response speed and cross-account boundary control for SaaS tenants.\n\n## Key Concepts\n- CloudTrail/GuardDuty/EventBridge integration; IAM trust policies; cross-account access revocation; Step Functions orchestration; Organization SCPs; automated validation.\n\n## Code Example\n\n```javascript\n// Sample Step Functions state machine (pseudo)\n{\n  Comment: 'Incident response for compromised tenant role',\n  StartAt: 'Validate',\n  States: {\n    Validate: { Type: 'Task', Resource: 'arn:aws:lambda:...:function:ValidateIncident', Next: 'IsValid' },\n    IsValid: { Type: 'Choice', Choices: [{ Variable: '$.valid', BooleanEquals: true, Next: 'Quarantine' }] },\n    Quarantine: { Type: 'Task', Resource: 'arn:aws:lambda:...:function:QuarantineTenant', Next: 'Notify' },\n    Notify: { Type: 'Task', Resource: 'arn:aws:lambda:...:function:Notify', Next: 'Done' },\n    Done: { Type: 'Succeed' }\n  }\n}\n```\n\n## Follow-up Questions\n\n- How would you test fail-safe rollback and ensure minimal impact to tenants?\n- What telemetry would you add to verify containment success across accounts?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Adobe","Goldman Sachs","Google"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T11:30:07.578Z","createdAt":"2026-01-14T11:30:07.580Z"},{"id":"q-1826","question":"Design a self-serve cross-account restore workflow: a tenant requests data restore from a central backup vault into their own AWS account. Outline the per-tenant cross-account role with TTL, trust policy, least-privilege permissions, and how you orchestrate AWS Backup restore, validation, and rollback within SLA?","answer":"Implement a per-tenant cross-account role in the tenant account that central backup can assume for 15 minutes. Central AWS Backup vault restores S3 objects and DynamoDB items into the tenant. Orchestr","explanation":"## Why This Is Asked\nTests cross-account trust, TTL-based access, and automated data restore with validation and rollback, all under realistic SLA constraints.\n\n## Key Concepts\n- Cross-account roles with time-bounded access\n- AWS Backup vaults and per-resource policies\n- Data restore for S3 and DynamoDB across accounts\n- Orchestration with Step Functions and EventBridge\n- Validation checksums, counts, and rollback mechanisms\n\n## Code Example\n```javascript\n// Pseudocode: assume tenant role, start restore, validate, rollback if needed\nasync function restoreTenantData(tenantAccountId, resourceArns){\n  const roleArn = `arn:aws:iam::${process.env.CENTER_ACCOUNT}:role/BackupRestore_${tenantAccountId}`;\n  const creds = await sts.assumeRole({RoleArn: roleArn, RoleSessionName: 'restore', DurationSeconds: 900});\n  // Use creds to invoke AWS Backup restore workflow\n  // Validate and rollback logic here\n}\n```\n\n## Follow-up Questions\n- How would you test TTL revocation reliability in failure scenarios?\n- How do you handle partial restores and idempotency across tenants?","diagram":"flowchart TD\n  A[Tenant restore request] --> B[AssumeRole with TTL]\n  B --> C[AWS Backup restore]\n  C --> D[Validation (checksums/totals)]\n  D --> E{Validation OK?}\n  E --> |Yes| F[Mark restore complete]\n  E --> |No| G[Rollback and alert]","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Airbnb","Apple","Oracle"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T13:08:38.015Z","createdAt":"2026-01-14T13:08:38.015Z"},{"id":"q-1866","question":"You operate a multi-tenant SaaS on AWS with per-tenant data stored in separate accounts. Upon signup, you need to provision an isolated workspace with a per-tenant VPC, a dedicated KMS CMK for data at rest, and strictly limited cross-account access for support tooling that can revoke within 60 seconds. Describe the end-to-end architecture, including IAM/RAM roles, SCPs, KMS key management, S3 and DynamoDB data isolation, and how you test onboarding/rollback and audits at scale?","answer":"Structure: One Org, per-tenant accounts. Each tenant gets a dedicated KMS CMK for at-rest encryption; S3 bucket/prefix scoped to the tenant with bucket policy and IAM condition on tenant-id; DynamoDB ","explanation":"## Why This Is Asked\nThis question probes the candidate's ability to design multi-tenant isolation, cross-account access, and auditable governance at scale, including encryption, data access boundaries, and automated validation.\n\n## Key Concepts\n- AWS Organizations and per-tenant accounts\n- KMS CMKs and encryption key policies\n- S3 and DynamoDB data isolation patterns\n- IAM, RAM, and SCPs for least privilege\n- Observability: CloudTrail, Config, Access Analyzer\n\n## Code Example\n```javascript\n// Example IAM policy illustrating tenant-scoped S3 access\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"s3:GetObject\",\"s3:ListBucket\"],\n      \"Resource\": [\"arn:aws:s3:::tenant-bucket-*/tenant-data/*\"],\n      \"Condition\": {\"StringEquals\": {\"aws:PrincipalTag/tenantId\": \"${aws:PrincipalTag/tenantId}\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you automate onboarding and revocation to meet a 60-second SLA?\n- What cost/complexity trade-offs would you consider for large numbers of tenants?","diagram":"flowchart TD\nA[Management Account] --> B[Tenant Accounts]\nB --> C[S3 per tenant]\nB --> D[DynamoDB per tenant / Global Tables]\nA --> E[KMS CMKs in each account]\nA --> F[Onboarding/Revocation Roles]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Salesforce","Twitter"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T14:53:47.659Z","createdAt":"2026-01-14T14:53:47.659Z"},{"id":"q-1920","question":"You operate a multi-tenant SaaS on AWS with per-tenant accounts under an Organization. A tenant triggers suspicious activity suggesting cross-account data exfiltration. Design a zero-downtime incident response that detects via CloudTrail/EventBridge/GuardDuty, revokes trust and rotates CMKs, quarantines the tenant with SCPs, and notifies teams within 60 seconds. Include rollback steps and testing strategy?","answer":"Runbook outline: (1) EventBridge routes CloudTrail/GuardDuty findings to Step Functions; (2) revoke tenant trust (modify the IAM role's trust policy and detach cross-account permissions) and enforce a","explanation":"## Why This Is Asked\nAssesses rapid, automated containment of tenant-level security incidents with cross-account controls, while preserving service availability. Candidates must wire detection to automated playbooks, implement least privilege revocation, and ensure auditable rollback.\n\n## Key Concepts\n- AWS Organizations SCPs for tenant isolation\n- IAM cross-account trust and role revocation\n- KMS CMK rotation and data re-encryption\n- EventBridge + Step Functions for incident orchestration\n- GuardDuty/CloudTrail signals for data exfiltration\n\n## Code Example\n```javascript\n// Example: minimal Step Functions integration sketch (pseudo)\nconst { SFNClient, StartExecutionCommand } = require('@aws-sdk/client-sfn');\n// Triggered by EventBridge; orchestrates revocation, rotation, and quarantine steps\n```\n\n## Follow-up Questions\n- How would you test this with canaries in a staging tenant?\n- What are race conditions and how would you mitigate them during rollback?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Oracle","Tesla","Two Sigma"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T17:05:33.684Z","createdAt":"2026-01-14T17:05:33.685Z"},{"id":"q-1974","question":"You run a multi-tenant SaaS on AWS that provisions per-tenant data pipelines (Glue/EMR) on signup. Tenants upload ETL scripts; you must sandbox execution with strict runtime and cost caps, guarantee per-tenant data isolation, and enable revocation within 60 seconds. Describe the control plane, roles, policies, data isolation, and rollback/audit strategy?","answer":"Use a per-tenant IAM role scoped to that tenant’s resources, a dedicated S3 prefix and CMK, and a dry-run validation in a sandbox before real execution. Orchestrate with Step Functions to grant tempor","explanation":"## Why This Is Asked\n\nTests ability to design per-tenant isolation, automated validation, and controlled execution for customer scripts, including ephemeral access and robust rollback.\n\n## Key Concepts\n\n- Per-tenant IAM roles and scoped resource access\n- Sandbox and dry-run execution patterns\n- Cross-account least-privilege and temporary credentials\n- Cost controls, budget alarms, and automatic teardown\n- Auditing with CloudTrail and EventBridge\n\n## Code Example\n\n```json\n{\n  \"StartAt\": \"DryRunValidation\",\n  \"States\": {\n    \"DryRunValidation\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:lambda:region:acct:function:DryRunValidator\",\n      \"Next\": \"GrantTempAccess\"\n    },\n    \"GrantTempAccess\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:iam::acct:policy/GrantTenantAccess\",\n      \"Next\": \"ExecutePipeline\"\n    },\n    \"ExecutePipeline\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::glue:startJobRun.sync\",\n      \"End\": true\n    }\n  }\n}\n```\n\n## Follow-up Questions\n\n- How would you handle script updates or rollbacks without data loss?\n- How would you test the sandboxing and budget-breach paths in CI/CD?","diagram":"flowchart TD\n  A[Signup] --> B[Provision Sandbox]\n  B --> C[Dry-Run Validation]\n  C --> D[Grant Temporary Access]\n  D --> E[Execute Pipeline]\n  E --> F[Tear Down & Audit]","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Salesforce","Scale Ai"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T19:29:07.565Z","createdAt":"2026-01-14T19:29:07.566Z"},{"id":"q-2056","question":"Scenario: A multi-tenant SaaS stores each customer's data in a regional S3 bucket owned by that customer, with your service ingesting data via cross-account roles. On signup you must provision a per-tenant IAM role, per-tenant KMS CMK, and per-tenant Lake Formation permissions, with revocation within 60 seconds if policy is violated. Describe the architecture, trust policies, and automation (EventBridge, Step Functions, RAM) to onboard, rotate keys, and revoke access?","answer":"On signup, create a dedicated KMS CMK in the tenant's account, an IAM role in the service account with a restricted trust policy, and Lake Formation permissions bound to a per-tenant tag. Use RAM to share the tenant's S3 bucket with the service account, then trigger an EventBridge rule that starts a Step Functions workflow to orchestrate the onboarding process. The workflow provisions the IAM role with cross-account trust, creates the KMS CMK with automatic rotation, and applies Lake Formation permissions using the tenant tag for isolation. For revocation, implement continuous monitoring with CloudWatch alarms that trigger EventBridge rules to invoke a Step Functions cleanup workflow, which removes Lake Formation grants, deletes the IAM role, and schedules KMS key deletion within the 60-second SLA.","explanation":"## Why This Is Asked\nTests ability to architect cross-account data access with strict isolation, automated provisioning, and rapid revocation. Emphasizes KMS key management, Lake Formation grants, RAM sharing, and EventBridge/Step Functions orchestration.\n\n## Key Concepts\n- Cross-account IAM roles and trust policies\n- KMS CMK lifecycle and rotation\n- Lake Formation data access constraints\n- Data sharing with RAM\n- EventBridge/Step Functions workflows\n\n## Code Example\n```javascript\n// Pseudo: onboarding pipeline steps\nconst onboardingWorkflow = {\n  steps: [\n    'Create KMS CMK in tenant account',\n    'Provision cross-account IAM role',\n    'Configure Lake Formation permissions',\n    'Establish RAM bucket sharing',\n    'Set up monitoring and revocation triggers'\n  ]\n};\n```","diagram":"flowchart TD\n  Onboard[Onboard Tenant] --> CreateRole[Create Cross-Account Role]\n  Onboard --> ShareBucket[Share Bucket via RAM]\n  Onboard --> ConfigureLF[Configure Lake Formation]\n  Violation[Policy Violation] --> Revoke[Revoke Access within 60s]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Coinbase","MongoDB","Square"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T05:51:21.999Z","createdAt":"2026-01-14T22:43:43.779Z"},{"id":"q-2149","question":"In a two-account setup (dev and prod), how would you grant a developer permission to deploy to prod S3 and prod ECR via a cross-account role with MFA, using minimal permissions and fast revocation? Describe the trust policy, role inline permissions, and a basic CI check to verify access?","answer":"Create a ProdAccessRole on prod with a trust policy allowing sts:AssumeRole from the dev account, conditioned on MFA. Attach a least-privilege policy granting S3:PutObject on prod-bucket and ECR:PutIm","explanation":"## Why This Is Asked\n\nTests basic cross-account access, MFA gating, least privilege, and revocation flows; practical for a beginner to demonstrate policy drafting and CI validation.\n\n## Key Concepts\n\n- Cross-account IAM roles with trust policies\n- MFA conditions in trust policy\n- Least privilege permissions for S3 and ECR\n- Revocation strategies (disable trust, delete role)\n- CI validation of IAM access\n\n## Code Example\n\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"sts:AssumeRole\"],\n      \"Principal\": {\"AWS\": \"arn:aws:iam::DEV_ACCOUNT_ID:root\"},\n      \"Condition\": {\"Bool\": {\"aws:MultiFactorAuthPresent\": \"true\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n\n- How would you rotate credentials and monitor role usage?\n- How would you enforce MFA for developers from CI/CD pipelines?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Hugging Face","LinkedIn","NVIDIA"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T04:29:00.469Z","createdAt":"2026-01-15T04:29:00.469Z"},{"id":"q-2177","question":"Design a scalable, private cross-tenant analytics model for a SaaS where each tenant has an isolated AWS account. Propose how to share aggregated data to a central analytics account using cross-account IAM roles, Lake Formation permissions, and KMS; outline onboarding/offboarding with EventBridge and Step Functions, data access revocation within 60 seconds, auditing, and failure recovery?","answer":"Architect a centralized analytics account that consumes per-tenant data via cross-account IAM roles and Lake Formation permissions. Store raw and curated data under tenant prefixes in S3 with CMK-prot","explanation":"## Why This Is Asked\n\nTests ability to design cross-account data sharing with strict isolation, automated provisioning, and rapid revocation.\n\n## Key Concepts\n\n- Cross-account IAM roles\n- Lake Formation permissions\n- KMS CMK management and grants\n- EventBridge and Step Functions orchestration\n- Data residency prefixes and auditing\n- DR and failure paths\n\n## Code Example\n\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"<source-account-ARN>\"},\n      \"Action\": \"sts:AssumeRole\",\n      \"Condition\": {\"StringEquals\": {\"sts:ExternalId\": \"<tenant-id>\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n\n- How would you test onboarding latency and rollback?\n- How would you enforce least privilege and monitor drift across accounts?\n","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Coinbase","Instacart","Zoom"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T06:46:20.674Z","createdAt":"2026-01-15T06:46:20.674Z"},{"id":"q-2269","question":"You operate a SaaS on AWS with 1,000 tenant accounts under an Organization. Tenants demand data residency in their own region and private cross-region analytics access to a centralized data lake. Design an end-to-end solution that (1) isolates per-tenant data in region-scoped S3 buckets with per-tenant KMS keys, (2) enforces Lake Formation permissions per tenant, (3) connects privately to regional hubs via PrivateLink, (4) supports cross-region replication with controlled consent, and (5) provides a 60-second rollback workflow using EventBridge and Step Functions, plus automated tests and drift checks?","answer":"Propose a multi-region, tenant-isolated data lake using per-tenant accounts in AWS Organizations, region-scoped S3 with customer-managed KMS keys, Lake Formation permissions, and PrivateLink to region","explanation":"## Why This Is Asked\n\nAssesses ability to design cross-region data residency, strict data isolation, and automated rollback in a multi-account AWS environment.\n\n## Key Concepts\n\n- AWS Organizations multi-account governance and service control\n- Region-scoped S3 buckets and per-tenant KMS keys for data sovereignty\n- Lake Formation permissions and principled data access\n- PrivateLink for private connectivity to regional data-hubs\n- Cross-region replication with tenant-level controls\n- 60-second rollback using Step Functions + EventBridge\n- Automated tests and drift/compliance checks\n\n## Code Example\n\n```javascript\n// Example: basic per-tenant trust for cross-account role\nconst trustPolicy = {\n  Version: \"2012-10-17\",\n  Statement: [{\n    Effect: \"Allow\",\n    Principal: { AWS: \"arn:aws:iam::TENANT_ACCOUNT:role/TenantAppRole\" },\n    Action: \"sts:AssumeRole\"\n  }]\n};\n\n// Minimal Step Functions skeleton for rollback workflow (pseudo)\nconst sfDefinition = {\n  Comment: \"Tenant data residency rollback\",\n  StartAt: \"Validate\",\n  States: {\n    Validate: { Type: \"Pass\", Next: \"Rollback\" },\n    Rollback: { Type: \"Fail\", Cause: \"Trigger rollback\" }\n  }\n};\n```\n\n## Follow-up Questions\n\n- How would you validate data residency compliance across new tenants during signup?\n- What monitoring and alerting would you add to detect cross-region replication drift and ensure timely remediation?","diagram":"flowchart TD\n  A[Tenant Accounts] --> B[Region-scoped S3 + KMS]\n  B --> C[Lake Formation Permissions]\n  C --> D[PrivateLink Hub]\n  D --> E[Central Data Lake]\n  E --> F[EventBridge + Step Functions rollback]\n  F --> G[Automated Tests/Drift Checks]","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Airbnb","Databricks","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T09:51:05.426Z","createdAt":"2026-01-15T09:51:05.426Z"},{"id":"q-2284","question":"Design an automated containment workflow for a 50-account AWS environment. When GuardDuty flags a compromised EC2 in any development account, automatically isolate the host within 60 seconds by detaching the ENI, revoking outbound traffic via Security Groups, and exporting forensics data to the central security account. Minimize production impact and ensure a rollback path with false-positive handling. Describe architecture, cross-account IAM roles, EventBridge/Step Functions flow, and testing strategy?","answer":"Design a cross-account containment flow triggered by GuardDuty findings via EventBridge, using a central security role to assume per-account SSM. It detaches the EC2 ENI, updates Security Groups to de","explanation":"## Why This Is Asked\n\nTests automated containment across many AWS accounts with auditability, speed, and false‑positive handling. It probes cross‑account IAM design, secure L2 containment actions (ENI/SG changes), and forensics data handling.\n\n## Key Concepts\n\n- GuardDuty findings and EventBridge routing\n- Step Functions orchestration and rollback paths\n- Cross‑account IAM roles and SSM Run Command permissions\n- ENI detachment, Security Group re‑scoping, and forensics data export\n- False‑positive handling and production impact minimization\n\n## Code Example\n\n```javascript\n// Pseudo-step functions state machine\n{\n  \"Comment\": \"Containment\",\n  \"StartAt\": \"CheckFinding\",\n  \"States\": { \"CheckFinding\": { \"Type\": \"Choice\", \"Choices\": [] } }\n}\n```\n\n## Follow-up Questions\n\n- How would you test this workflow in CI/CD and simulate false positives?\n- How would you adapt for cross-region incidents and ensure immutable audit logs?","diagram":"flowchart TD\nA[GuardDuty finding] --> B[EventBridge: finding matched]\nB --> C[Step Functions: containment flow]\nC --> D[Assume cross-account role]\nD --> E[SSM Run Command: modify ENI/SG]\nE --> F[Forensics data to S3 in security acct]\nF --> G[Notify & audit log]\nC --> H[Rollback/false-positive path]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Hashicorp","Meta"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T10:44:09.917Z","createdAt":"2026-01-15T10:44:09.917Z"},{"id":"q-2381","question":"Design a scalable data-access pattern for a multi-tenant SaaS on AWS where each tenant’s data must be privately accessible by a third-party ML partner (Databricks, Snowflake, or OpenAI) via private connectivity, without data leakage or public Internet. Describe per-tenant PrivateLink endpoints, cross-account RAM shares, strict IAM trusts, governance via Lake Formation or bucket policies, 60-second revocation, and auditing?","answer":"Use per-tenant PrivateLink endpoints in a dedicated VPC to the partner service, with a cross-account IAM role in the partner account and a restricted trust policy. Share access via RAM to a tenant-sco","explanation":"## Why This Is Asked\n- Tests private connectivity, cross-account IAM, and data governance in multi-tenant SaaS.\n- Evaluates security, auditability, and revocation guarantees.\n\n## Key Concepts\n- PrivateLink, RAM, cross-account IAM trusts, Lake Formation, bucket policies, revocation workflows.\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\"Effect\": \"Allow\", \"Principal\": {\"Service\": \"ram.amazonaws.com\"},\n     \"Action\": [\"ram:GetResourceShareAssociations\"],\n     \"Resource\": \"*\"}\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you monitor for unauthorized access attempts?\n- How would you test revocation latency end-to-end?","diagram":"flowchart TD\n  A[Tenant VPC] -->|PrivateLink| B[Partner Service Endpoint]\n  B --> C[Partner Service]\n  A --> D[Audit & Revocation]\n  E[IAM Trust Policy] --> F[RAM Share]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Databricks","OpenAI","Snowflake"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T15:45:35.197Z","createdAt":"2026-01-15T15:45:35.197Z"},{"id":"q-2567","question":"You run a small web app in a single AWS region with minimal downtime constraints. Propose a beginner-friendly disaster recovery plan that uses S3 for backups, RDS automated backups or DynamoDB backups, Route 53 failover routing to a secondary region, and a one-click failover test. Describe how you'd validate RTO/RPO and the cost implications, with minimal operational effort?","answer":"Implement a comprehensive two-region disaster recovery strategy using AWS managed services. Configure S3 cross-region replication to automatically back up application data and assets to the secondary region. For databases, enable RDS automated backups with cross-region snapshot replication for relational databases, or leverage DynamoDB global tables for built-in multi-region availability. Set up Route 53 health checks with failover routing policies to automatically redirect traffic to the secondary region when the primary becomes unavailable. Create a one-click failover validation test using AWS Systems Manager Automation documents or Lambda functions that simulate failover scenarios and measure performance. Calculate RTO by timing the complete failover process from detection to full service restoration, and determine RPO by analyzing backup retention periods and replication lag. This approach typically costs approximately 2x the primary region resources plus incremental cross-region data transfer fees, but delivers enterprise-grade resilience with minimal operational overhead through automated backup and recovery processes.","explanation":"## Why This Is Asked\nThis question assesses practical disaster recovery knowledge, cross-region data protection strategies, and automation approaches suitable for small-scale applications with resilience requirements.\n\n## Key Concepts\n- Cross-region data replication and backup strategies\n- Route 53 failover routing with health checks\n- RTO/RPO validation through automated testing\n- Cost-benefit analysis for multi-region deployments\n- Operational overhead minimization through managed services\n\n## Code Example\n```javascript\n// Lambda function for automated DR validation and failover testing\nexports.handler = async () => {\n  // Implementation: Route 53 health check validation and DNS routing test\n  // Measures failover timing and validates secondary region readiness\n};\n```","diagram":"flowchart TD\nA[Single Region App] --> B[Backups to S3]\nB --> C[Snapshots/Global Tables]\nC --> D[Route 53 Failover to DR Region]\nD --> E[One-click Failover Test]\nE --> F[Cost & Validation]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["NVIDIA","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-16T05:21:14.443Z","createdAt":"2026-01-15T23:30:37.247Z"},{"id":"q-2629","question":"Scenario: A SaaS running across two AWS regions must ensure tenant data residency by storing each tenant's data only in their assigned region and enabling revocation of access within 60 seconds; design an end-to-end architecture using AWS Organizations, PrivateLink Endpoint Services, per-tenant IAM roles with SCPs, DynamoDB Local/Global Tables and S3 region replication, and an automated revocation workflow via Step Functions and EventBridge, including failure modes and DR/cost tradeoffs?","answer":"End-to-end: assign each tenant to a region; private access via PrivateLink Endpoint Services; store tenant data in region-local DynamoDB and S3 with per-tenant isolation; IAM roles scoped with least p","explanation":"Why This Is Asked\nTests data residency enforcement, cross-region isolation, and rapid revocation in a multi-tenant AWS setup. It blends PrivateLink, per-tenant IAM/SCPs, regional data stores, and event-driven revocation to surface practical tradeoffs.\n\nKey Concepts\n- Data residency and cross-account security\n- PrivateLink, Endpoint Services, IAM SCPs\n- DynamoDB/S3 regional design and replication\n- EventBridge + Step Functions for revocation\n- DR, cost, and failover considerations\n\nCode Example\n```typescript\n// Example CDK snippet sketch (not runnable):\nconst eps = new PrivateLinkService(this, 'TenantSvc', { /*...*/ });\nconst table = new dynamodb.Table(this, 'TenantTable', { /* region-scoped */ });\n```\n\nFollow-up Questions\n- How would you measure revocation latency end-to-end?\n- How would onboarding/offboarding tenants affect isolation guarantees and costs?","diagram":"flowchart TD\n  CP[Control Plane] --> TR[Tenant Region Assignment]\n  TR --> DR[DynamoDB Global Tables / Region Local]\n  TR --> SR[S3 Local Buckets]\n  CP --> PL[PrivateLink Endpoint Service]\n  PL --> TV[Tenant VPCs]\n  CP --> RW[Revocation Workflow]\n  RW --> EF[EventBridge + Step Functions]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","Microsoft"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-16T04:13:39.541Z","createdAt":"2026-01-16T04:13:39.541Z"},{"id":"q-2784","question":"You need to grant a trusted partner ephemeral access to a single S3 bucket in your account for 60 minutes without exposing public endpoints. Describe end-to-end mechanism using a cross-account IAM role, STS AssumeRole, bucket policy with constraints, and auditing; include how you'd revoke access within 60 seconds and verify?","answer":"Grant access via a cross‑account role in the data owner account and have the partner assume it through STS for 3600s, scoped to a single bucket/prefix. Enforce a VPC Endpoint condition and enable Clou","explanation":"## Why This Is Asked\nTests practical understanding of ephemeral cross‑account access, least privilege, VPC endpoints, and auditability. It also probes revocation semantics for temporary credentials.\n\n## Key Concepts\n- STS AssumeRole with session duration\n- Cross‑account IAM roles and trust policies\n- S3 bucket policies with resource and condition constraints\n- VPC Endpoint restrictions\n- CloudTrail auditing\n- Revocation mechanics for temporary credentials\n\n## Code Example\n```javascript\n// trust policy example (role in data owner account)\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::PARTNER_AWS_ACCOUNT:role/PartnerDataAccess\"},\n      \"Action\": \"sts:AssumeRole\",\n      \"Condition\": {\"StringEquals\": {\"sts:ExternalId\": \"data-exchange-2026\"}}\n    }\n  ]\n}\n```\n\n```json\n// bucket policy snippet (only for the assumed role and specific VPC endpoint)\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::PARTNER_AWS_ACCOUNT:role/PartnerDataAccess\"},\n      \"Action\": [\"s3:GetObject\",\"s3:ListBucket\"],\n      \"Resource\": [\n        \"arn:aws:s3:::partner-data-bucket\",\n        \"arn:aws:s3:::partner-data-bucket/*\"\n      ],\n      \"Condition\": {\"StringEquals\": {\"aws:SourceVpce\": \"vpce-EXAMPLE\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you implement revocation within 60 seconds?\n- What are trade-offs between VPC Endpoint and public access in this scenario?","diagram":"flowchart TD\n  A[Partner request] --> B[STS AssumeRole 3600s]\n  B --> C[S3 GetObject/ListBucket with bucket policy]\n  C --> D[CloudTrail audit]\n  E[Revocation API] --> F[Deny future assumes]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Apple","Lyft","Two Sigma"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-16T11:41:56.602Z","createdAt":"2026-01-16T11:41:56.602Z"},{"id":"q-2862","question":"Scenario: A SaaS runs in multiple AWS regions; each tenant must have data residency in their assigned region with per-tenant S3 buckets and DynamoDB replicas. On signup, automatically provision region-scoped resources and issue an ephemeral onboarding role for centralized operations with 60-second revocation. Describe the end-to-end automation, trust policies, and rollback/validation strategy, including failure modes and cost considerations?","answer":"Signup triggers a Step Functions workflow that provisions region-scoped resources: a VPC, per-tenant S3 bucket, and a DynamoDB Global Table replica; it also creates an onboarding IAM role in the tenan","explanation":"## Why This Is Asked\nTests end-to-end automation for per-tenant residency, cross-account access, and rapid revocation.\n\n## Key Concepts\n- Region-scoped provisioning\n- ephemeral IAM roles and STS trust\n- Step Functions orchestration\n- validation and rollback\n\n## Code Example\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": \"sts:AssumeRole\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::CENTRAL:role/ControlPlane\"},\n      \"Condition\": {\"Bool\": {\"aws:MultiFactorAuthPresent\": \"true\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you test data residency guarantees across regions?\n- How would you audit ephemeral role revocation with CloudTrail?","diagram":"flowchart TD\n  A[Signup] --> B[Provision Region Resources]\n  B --> C[Create Ephemeral Onboarding Role]\n  C --> D[Grant Central Access via STS]\n  D --> E[60-Second Revocation Path]\n  E --> F[Validation & Rollback]\n  F --> G[Cost & DR Checks]","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Google","Netflix"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-16T15:33:04.950Z","createdAt":"2026-01-16T15:33:04.952Z"},{"id":"q-2898","question":"Scenario: A multi-tenant SaaS stores customer data encrypted with a central AWS KMS CMK in a security/account. Each tenant’s workloads run in their own AWS account and must decrypt only their own data, with revocation within 60 seconds. Design a cross-account access pattern using KMS Grants, per-tenant IAM roles, per-tenant S3/DynamoDB policies, and an automated revocation workflow (EventBridge + Step Functions) plus DR/cost tradeoffs?","answer":"Leverage a central CMK and per-tenant KMS grants granting Decrypt/Encrypt to tenant roles; constrain using EncryptionContext (TenantId) and per-tenant resource policies on S3 prefixes and DynamoDB tab","explanation":"## Why This Is Asked\nThe task tests cross-account KMS grant architecture, tenancy isolation, revocation speed, and operational DR.\n\n## Key Concepts\n- KMS Grants across accounts\n- EncryptionContext constraints\n- Per-tenant IAM roles and resource policies\n- EventBridge/Step Functions for revocation workflows\n- DR, monitoring, and auditing with CloudTrail\n\n## Code Example\n```json\n{\n  \"KeyId\": \"alias/central-cmk\",\n  \"GranteePrincipal\": \"arn:aws:iam::111122223333:role/TenantApp\",\n  \"Operations\": [\"Encrypt\",\"Decrypt\",\"GenerateDataKey\"],\n  \"Constraints\": {\"EncryptionContextSubset\": {\"TenantId\": \"tenant-123\"}}\n}\n```\n\n## Follow-up Questions\n- How would you handle CMK rotation and grant cleanup during tenant offboarding?\n- How would you test the revocation latency and ensure no data can be decrypted post-revocation?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["LinkedIn","NVIDIA","Two Sigma"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-16T16:50:27.744Z","createdAt":"2026-01-16T16:50:27.744Z"},{"id":"q-2975","question":"Advanced AWS SaaS: design per-tenant data isolation across accounts. On signup you must automatically provision a per-tenant data plane: an S3 bucket, a CMK, and a cross-account role your API uses to read/write data. Access must be ABAC based on tenant_id and revocable within 60 seconds. Outline architecture, IAM policies, automation, testing, and DR?","answer":"Use ABAC with tenant_id tags across accounts. On signup provision a data-plane: S3 bucket data-tenant-<id>, a CMK, and a cross-account role api-tenant-<id> that API assumes via STS. Access restricted ","explanation":"## Why This Is Asked\\n\\nAssesses ABAC design, cross-account per-tenant isolation, and rapid revocation.\\n\\n## Key Concepts\\n\\n- ABAC with tenant_id tags\\n- Cross-account IAM roles and STS\\n- Per-tenant S3 bucket and CMK\\n- Revocation via API gateway authorizer and TTL credentials\\n- IaC automation and DR strategy\\n\\n## Follow-up Questions\\n\\n- How would you validate revocation latency end-to-end?\\n- How would you handle CMK rotation per tenant and DR across regions?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Instacart","Netflix"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-16T19:38:17.392Z","createdAt":"2026-01-16T19:38:17.392Z"},{"id":"q-3223","question":"Two-region disaster recovery for a small web app: primary in us-east-1 and DR in us-west-2. Use RDS cross-region read replicas, S3 backup replication, and Route 53 failover. Outline the exact steps, required IAM roles, and how you would test failover and rollback with minimal data loss?","answer":"Configure an RDS cross-region read replica in us-west-2, enable S3 backup cross-region replication to a DR bucket, and implement Route 53 failover with health checks. Define minimal IAM roles for RDS,","explanation":"## Why This Is Asked\nTests practical DR planning using core AWS services and trade-offs for a small setup.\n\n## Key Concepts\n- Cross-region replication for RDS and S3\n- IAM least privilege and cross-account permissions\n- Route 53 failover routing and health checks\n- Testing, rollback, RPO/RTO considerations\n\n## Code Example\n```javascript\n// sample: minimal code to trigger RDS failover (pseudo)\nconst promoteRDS = async () => { /* call AWS RDS promoteReadReplica */ }\n```\n\n## Follow-up Questions\n- How would you reduce RPO if a WAL backlog exists? \n- What are hit-miss risks of DNS-based failover and mitigations?","diagram":"flowchart TD\n  A[Primary us-east-1] --> B{Health Check}\n  B -->|Healthy| C[Route 53 -> Primary]\n  B -->|Unhealthy| D[Route 53 Failover to DR]\n  D --> E[Promote RDS Replica]\n  E --> F[Switch DNS to DR endpoint]\n  F --> G[S3 DR bucket active]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Airbnb","Microsoft","Plaid"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-17T07:36:12.255Z","createdAt":"2026-01-17T07:36:12.255Z"},{"id":"q-3271","question":"You run a regulated fintech analytics platform across 3 AWS accounts (prod, audit, shared). New tenants require ad-hoc analytics with strict data isolation and region residency. Propose a cross-account data access model that enables per-tenant Athena queries against a central S3 data lake, while ensuring tenant data never leaves its assigned region, uses tenant-specific IAM roles and KMS CMKs, and provides revocation, cost control, and audit trails. Include data catalog exposure, encryption, and failure modes?","answer":"Implement a three-account data fabric: tenants keep data in their region in an S3 data lake with region-bound storage; grant per-tenant cross-account IAM roles assumed from a central data account; env","explanation":"## Why This Is Asked\nInterview context explanation.\n\n## Key Concepts\n- Cross-account access with least privilege\n- Region residency and data lake design\n- Tenant-specific KMS CMKs and envelope encryption\n- Per-tenant Glue Data Catalog and Athena workgroups\n- Centralized auditing and cost governance\n- Failure modes and DR considerations\n\n## Code Example\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::CENTRAL_ID:role/CentralDataRole\"},\n      \"Action\": \"sts:AssumeRole\",\n      \"Condition\": {\"StringEquals\": {\"aws:SourceAccount\": \"TENANT_ACCOUNT_ID\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you automate tenant onboarding and revocation?\n- How would you monitor cross-region data access for anomalies?","diagram":"flowchart TD\n  A[Tenant Account] -->|Assumes role| B[Central Data Account]\n  B --> C[S3 Data Lake (Region-bound)]\n  B --> D[Glue Data Catalog (Tenant-scoped)]\n  C --> E[Athena per Tenant Workgroup]\n  D --> E","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Goldman Sachs","IBM"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-17T09:36:09.222Z","createdAt":"2026-01-17T09:36:09.223Z"},{"id":"q-3414","question":"Scenario: A SaaS creates a per-tenant data silo in S3 and DynamoDB, and must grant a partner service read access only to that tenant's data through a PrivateLink-connected API. Propose an end-to-end onboarding workflow (VPC, PrivateLink, IAM roles, bucket prefix and table scoping, key management) and explain how you would revoke access within 60 seconds, including validation steps?","answer":"Onboard by creating a dedicated VPC with PrivateLink to the central API, provisioning a per-tenant IAM role in the central account with a trust policy for the tenant account, and scoping access to the","explanation":"## Why This Is Asked\nGauges practical cross-account access, PrivateLink, tenant isolation, and rapid revocation.\n\n## Key Concepts\n- Cross-account IAM roles with trust policies\n- PrivateLink endpoint services\n- Least-privilege access to S3 prefixes and DynamoDB tables\n- Revocation via policy/state machine within 60 seconds\n- Validation and auditing\n\n## Code Example\n```javascript\n// Trust policy sketch (pseudo)\nconst trustPolicy = {\n  version: '2012-10-17',\n  statement: [{\n    effect: 'Allow',\n    principal: { owner: 'tenant' },\n    action: 'sts:AssumeRole'\n  }]\n}\n```\n\n## Follow-up Questions\n- How would you monitor revocation latency and ensure it stays under 60 seconds?\n- What failure modes would you test for during onboarding?","diagram":"flowchart TD\n  A[Tenant Signup] --> B[Provision VPC & PrivateLink]\n  B --> C[Create Tenant Role & Policies]\n  C --> D[Grant Access to S3/DynamoDB]\n  D --> E[Revocation Workflow]\n  E --> F[Audit & Logs]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Discord","LinkedIn","Two Sigma"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-17T15:32:47.251Z","createdAt":"2026-01-17T15:32:47.251Z"},{"id":"q-3524","question":"You must deploy a new service in a single AWS account that reads from a private S3 bucket and writes logs to CloudWatch, with no public Internet access. Outline the minimal secure setup: S3 gateway endpoint in the VPC, a bucket policy restricted to the endpoint and the service's IAM role, an IAM role with least privileges, and a test plan to verify private access and absence of public access?","answer":"Implement a VPC S3 gateway endpoint in the service VPC. Attach a bucket policy that allows GetObject/PutObject only from the endpoint and the service's IAM role; explicitly deny public access. Create ","explanation":"## Why This Is Asked\nTests knowledge of private access patterns for S3 and CloudWatch without public endpoints, plus policy scoping.\n\n## Key Concepts\n- S3 Gateway Endpoint\n- Bucket policy with aws:SourceVpce and principal role\n- IAM roles with least privilege and trust policy\n- CloudWatch Logs permissions and private DNS\n- Public access controls and validation\n\n## Code Example\n```javascript\n// AWS CLI to create a VPC endpoint (simplified)\naws ec2 create-vpc-endpoint --vpc-id vpc-1234 --service-name com.amazonaws.us-east-1.s3 --route-table-ids rtb-5678\n```\n\n```javascript\n// Bucket policy snippet restricting to endpoint\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::ACCOUNT_ID:role/ServiceRole\"},\n      \"Action\": [\"s3:GetObject\",\"s3:PutObject\"],\n      \"Resource\": \"arn:aws:s3:::my-private-bucket/*\",\n      \"Condition\": {\"StringEquals\": {\"aws:SourceVpce\": \"vpce-1234\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you rotate and revoke the ServiceRole credentials if needed?\n- How would you test drift or misconfig causing public exposure?","diagram":"flowchart TD\nA[New service] --> B[S3 Gateway Endpoint]\nB --> C[Bucket policy restricted to VPCE]\nC --> D[ServiceRole with least privileges]\nD --> E[Test: private access vs public access]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Microsoft","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-17T19:37:27.022Z","createdAt":"2026-01-17T19:37:27.022Z"},{"id":"q-3547","question":"Scenario: You run a SaaS that ingests per-tenant telemetry via a single API in AWS. Data must be isolated by tenant, stored under an S3 prefix, and publicly inaccessible. Propose a minimal, beginner-friendly architecture using regional API Gateway, a Lambda authorizer that validates a JWT with tenant_id, per-tenant IAM policies, and an S3 bucket policy; describe least privilege, revocation, and a simple test plan to verify cross-tenant isolation and absence of public access?","answer":"Use a regional API Gateway with a Lambda authorizer validating a JWT containing tenant_id. Each tenant gets a scoped IAM policy and writes to a dedicated S3 prefix (s3://data-bucket/tenant-id/). The L","explanation":"## Why This Is Asked\nThis question tests practical, beginner-ready knowledge of data isolation in AWS: API authentication, tenant-scoped permissions, S3 prefix isolation, and basic logging/auditing.\n\n## Key Concepts\n- Regional API Gateway and Lambda authorizers for per-tenant auth\n- IAM policy scoping and least privilege per tenant\n- S3 bucket policies with tenant prefixes and public-access denial\n- Basic test plan: cross-tenant access attempts, audit trails, and revocation checks\n\n## Code Example\n```javascript\n// Example snippet: policy outline for a tenant\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"s3:PutObject\"],\n      \"Resource\": \"arn:aws:s3:::data-bucket/tenant-id/*\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you revoke a tenant's access within 60 seconds?\n- What are the failure modes if the Lambda authorizer is unavailable, and how would you mitigate them?","diagram":"flowchart TD\n  A[Client App] --> B[API Gateway (Regional)]\n  B --> C[Lambda Authorizer]\n  C --> D{tenant_id}\n  D --> E[Lambda Ingest] --> F[S3 (tenant prefix)]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["DoorDash","OpenAI"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-17T20:44:56.776Z","createdAt":"2026-01-17T20:44:56.776Z"},{"id":"q-3605","question":"Design a private cross-account API proxy: a central control plane in account A securely calls per-tenant APIs in tenant accounts B..Z without the public Internet, using PrivateLink Endpoint Services and RAM. Describe cross-account trust, per-tenant IAM roles with least privilege and SCPs, encryption, logging, and a 60-second revocation workflow via EventBridge/Step Functions, plus validation and rollback?","answer":"Architect a central control plane in account A that calls per-tenant Endpoint Services in tenant accounts via PrivateLink. Use per-tenant IAM roles with restricted trust policies to implement cross-account access, enforcing least privilege through Service Control Policies and Organizations governance. Enable encryption in transit with TLS and at rest with KMS customer-managed keys. Centralize logging via CloudTrail and configure EventBridge with Step Functions for automated 60-second revocation workflows. Include validation testing and rollback procedures for tenant onboarding and offboarding.","explanation":"## Why This Is Asked\n\nTests mastery of private connectivity, cross-account access, and governance at scale. It also probes how a central plane securely communicates with multiple tenant accounts without internet exposure, and how to automate revocation and auditing.\n\n## Key Concepts\n\n- AWS PrivateLink Endpoint Services and RAM sharing\n- Cross-account IAM roles and least-privilege trust policies\n- Service Control Policies (SCPs) and Organizations governance\n- Centralized logging (CloudTrail) and security monitoring\n- EventBridge + Step Functions for automated revocation and rollback\n\n## Code Example\n\n```jso","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["MongoDB","Salesforce"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-18T05:29:13.549Z","createdAt":"2026-01-17T23:31:08.954Z"},{"id":"q-3675","question":"You operate a multi-account SaaS on AWS with primary workloads in us-east-1 and a DR region in eu-west-1. A regional outage must be recovered within 60 seconds and meet an RPO of 5 seconds. Design a concrete cross-region DR for a service that uses S3 and DynamoDB (or RDS), detailing replication strategies, IAM least privilege, Route 53 failover, automation, and a test plan?","answer":"Proposed approach: enable S3 Cross-Region Replication for critical buckets; deploy DynamoDB Global Tables in both regions (or use RDS cross-region read replicas for relational data) to keep data synch","explanation":"## Why This Is Asked\nAssesses design of real-world DR across AWS accounts, region pairs, and data stores; tests replication choices, automation, and testing.\n\n## Key Concepts\n- Cross-region replication (S3 CRR), DynamoDB Global Tables, RDS cross-region replicas\n- IAM least privilege and cross-account access\n- Route 53 failover, health checks, and automated promotion\n- DR testing, automation, cost control\n\n## Code Example\n```yaml\n# example: minimal Route53 failover and DR bucket\nResources:\n  DRBucket:\n    Type: AWS::S3::Bucket\n  DRBucketPolicy:\n    Type: AWS::S3::BucketPolicy\n    Properties:\n      Bucket: !Ref DRBucket\n      PolicyDocument:\n        Statement:\n          - Effect: Allow\n            Principal: \"*\"\n            Action: \"s3:GetObject\"\n            Resource: !Sub \"arn:aws:s3:::${DRBucket}/*\"\n```\n\n## Follow-up Questions\n- How would you validate DR readiness with a 60-second objective?\n- How would you resolve data conflicts if updates occur in both regions?\n- What metrics and alarms would you monitor during DR drills?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Meta","Oracle"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-18T04:23:03.996Z","createdAt":"2026-01-18T04:23:03.997Z"},{"id":"q-3715","question":"You operate a multi-tenant SaaS with a central REST API in a dedicated AWS account. All tenant traffic must stay private, not traverse the public Internet. Propose a concrete PrivateLink-based design with per-tenant interface endpoints, per-tenant IAM roles, and a token-based auth flow behind API Gateway. Explain onboarding/offboarding, isolation tests, and revocation timing?","answer":"Per-tenant Interface Endpoints (PrivateLink) in each consumer account point to a central API Gateway in the service account. Use tenant-scoped IAM roles and an endpoint policy to enforce access. API G","explanation":"## Why This Is Asked\nTests PrivateLink-based isolation, tenant-scoped access, and automation for onboarding/offboarding.\n\n## Key Concepts\n- AWS PrivateLink Interface Endpoints\n- Endpoint Resource Policy to enforce tenant scope\n- IAM roles per tenant and per-tenant authorization\n- API Gateway JWT/OIDC authorizer for token validation\n- Onboarding/offboarding automation and revocation timing\n- Isolation tests and auditing across tenants\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::TENANT_ACC_ID:root\"},\n      \"Action\": \"execute-api:Invoke\",\n      \"Resource\": \"arn:aws:execute-api:*:*/*/*\",\n      \"Condition\": {\"StringEquals\": {\"aws:SourceVpce\": \"vpce-tenant-abc\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you audit cross-account access changes to PrivateLink endpoints in this design?\n- How would you enforce per-tenant rate limits and ensure strict isolation in API Gateway and downstream services?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Amazon","Cloudflare"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-18T06:51:01.159Z","createdAt":"2026-01-18T06:51:01.159Z"},{"id":"q-3738","question":"You have a small service running on EC2 in Account A that must read a credential stored as a secret in AWS Secrets Manager in Account B every 15 minutes. Design the minimal cross-account setup: (1) the secret's resource-based policy in Account B, (2) the IAM role in Account A that EC2 uses, (3) the instance profile policy to allow GetSecretValue, and (4) a simple test plan to confirm no secret is ever exposed publicly. Include how to rotate the secret and how to audit access?","answer":"Cross-account secret access: put a resource-based policy on the Secrets Manager secret in Account B allowing a role from Account A to GetSecretValue. Create a minimal IAM role in Account A (EC2 role) ","explanation":"## Why This Is Asked\nTests cross-account IAM setup, Secrets Manager policies, least privilege, and basic automation.\n\n## Key Concepts\n- Secrets Manager resource policies, cross-account access\n- IAM role trust policies and instance profiles\n- Least-privilege permissions (secretsmanager:GetSecretValue)\n- Basic auditing with CloudTrail and IAM access analyzer\n\n## Code Example\n```javascript\n// In Account B: secret policy (conceptual)\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::ACCOUNT_A_ID:role/EC2SecretReader\"},\n      \"Action\": \"secretsmanager:GetSecretValue\",\n      \"Resource\": \"*\"\n    }\n  ]\n}\n```\n\n```javascript\n// Assume role in Account A and fetch secret (conceptual)\naws sts assume-role --role-arn arn:aws:iam::ACCOUNT_B:role/CrossAccountSecretAccessor --role-session-name ses\naws secretsmanager get-secret-value --secret-id my/secret --region us-east-1\n```\n\n## Follow-up Questions\n- How would you handle secret rotation with minimal downtime?\n- How would you test revocation and permission boundaries?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Google","Robinhood","Zoom"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-18T07:35:24.466Z","createdAt":"2026-01-18T07:35:24.466Z"},{"id":"q-3799","question":"Your company runs a private REST API behind API Gateway and Lambda in one AWS account. A partner in another account must invoke the API from their VPC without using the public Internet. Propose a minimal PrivateLink-based design: interface endpoint in the partner VPC, a PrivateLink endpoint service for the API, and a simple per-partner auth flow behind API Gateway. Include onboarding/offboarding steps and basic tests?","answer":"Expose API as a PrivateLink endpoint service and share with the partner via RAM. The partner creates an interface endpoint in their VPC to the service and uses a lightweight IAM role plus a short-live","explanation":"## Why This Is Asked\nTests understanding of cross-account private connectivity, PrivateLink setup, and lifecycle management for onboarding/offboarding.\n\n## Key Concepts\n- AWS PrivateLink and interface endpoints\n- RAM resource sharing across accounts\n- Private DNS and VPC networking\n- API Gateway/Lambda auth with short-lived tokens\n- Least-privilege IAM roles and cross-account access\n\n## Code Example\n```json\n// RAM share creation (conceptual)\n{\n  \"name\": \"PartnerAPIShare\",\n  \"resources\": [\"arn:aws:ec2:region:acct:endpoint-service/serv-id\"],\n  \"principals\": [\"123456789012\"]\n}\n```\n\n```bash\n# Onboarding (conceptual)\naws ram create-resource-share --name PartnerAPIShare --resource-arns arn:aws:ec2:region:acct:endpoint-service/serv-id --principals 123456789012\n```\n\n## Follow-up Questions\n- How would you rotate tokens without downtime?\n- What monitoring would you add to detect misconfigurations on PrivateLink?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Hugging Face","Microsoft","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-18T09:44:32.704Z","createdAt":"2026-01-18T09:44:32.704Z"},{"id":"q-3806","question":"Design an end-to-end cross-account analytics workflow where each tenant's data resides in per-tenant S3 prefixes in a shared SaaS account, must be accessible to Snowflake in a partner account without public Internet, and isolated by tenant. Propose concrete use of per-tenant S3 Access Points, Lake Formation permissions, a PrivateLink-based analytics service, and a token-based auth flow via API Gateway/Lambda. Include onboarding/offboarding and audit requirements?","answer":"Use a central analytics VPC with a PrivateLink interface to Snowflake, per-tenant S3 Access Points mapped to Lake Formation permissions, and an analytics Lambda that assumes tenant roles via STS with ","explanation":"## Why This Is Asked\nTests knowledge of multi-account analytics with data governance, PrivateLink, and cross-account data sharing to Snowflake, plus onboarding/offboarding and audit requirements.\n\n## Key Concepts\n- PrivateLink for cross-account service access\n- Lake Formation per-tenant access control\n- S3 Access Points for tenant isolation\n- STS AssumeRole and short-lived tokens for authorization\n- Auditing with CloudTrail and Config\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"s3:GetObject\",\"s3:ListBucket\"],\n      \"Resource\": [\n        \"arn:aws:s3:::tenant-bucket-prefix/*\"\n      ]\n    }\n  ]\n}\n```\n\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": \"sts:AssumeRole\",\n      \"Resource\": \"arn:aws:iam::<SAAS_ACCOUNT_ID>:role/TenantAnalyticsRole\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you rotate temporary credentials and revoke access on offboarding?\n- How would you simulate tenant data access for compliance?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["MongoDB","Snowflake"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-18T10:33:14.869Z","createdAt":"2026-01-18T10:33:14.869Z"},{"id":"q-3909","question":"You offer a global API behind API Gateway and Lambda in account A. A tenant selects a region at signup and must call the API privately from their VPC in that region (no public Internet). Propose a minimal PrivateLink-based design with a per-tenant Interface Endpoint in the tenant's region, a regional Endpoint Service, and a token-based auth flow behind API Gateway. Include onboarding/offboarding, regional failover considerations, and a lightweight test plan?","answer":"Implement one PrivateLink Endpoint Service per API region, with a dedicated Interface Endpoint in the tenant's region. Each tenant receives a scoped IAM role for PrivateLink access and a short-lived t","explanation":"## Why This Is Asked\n\nAssesses practical knowledge of PrivateLink, cross-region tenancy, and lifecycle automation in a beginner-friendly way.\n\n## Key Concepts\n\n- PrivateLink endpoint services and interface endpoints\n- Cross-account IAM roles and least privilege\n- Token-based auth behind API Gateway\n- Onboarding/offboarding with SCIM\n- Regional failover and DR testing\n\n## Code Example\n\n```yaml\n# IAM trust policy for per-tenant access (conceptual)\nVersion: '2012-10-17'\nStatement:\n  - Effect: Allow\n    Action: ['execute-api:Invoke']\n    Resource: '*'\n```\n\n## Follow-up Questions\n\n- How would you test token rotation without service disruption?\n- What latency considerations arise with regional PrivateLink access?","diagram":"flowchart TD\n  A[Tenant region] --> B[Interface Endpoint in tenant region]\n  B --> C[Regional Endpoint Service]\n  C --> D[API Gateway / Lambda]\n  D --> E[Token validation]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Databricks","Netflix","Scale Ai"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-18T14:43:42.726Z","createdAt":"2026-01-18T14:43:42.726Z"},{"id":"q-3932","question":"Your SaaS stores per-tenant data in customer accounts and uses a central control plane in a shared services account. Propose a per-tenant AWS KMS CMK strategy using Grants for cross-account access, including rotation without downtime, tenant onboarding/offboarding tests to ensure no cross-tenant access or leakage?","answer":"Use per-tenant CMKs in each customer account and a central service role granted via KMS Grants to encrypt/decrypt data owned by that tenant. Rotate CMKs automatically (or re-encrypt on rotation), keep","explanation":"## Why This Is Asked\nThis question probes cross-account KMS key management, data isolation, and secure rotation in a multi-tenant SaaS.\n\n## Key Concepts\n- Per-tenant CMKs in customer accounts\n- KMS Grants for cross-account data access\n- Rotation strategies and re-encryption\n- Auditing, IAM conditions, and least privilege\n- Onboarding/offboarding workflows and isolation tests\n\n## Code Example\n```javascript\n// Grant central service access to a tenant CMK\nconst kms = new AWS.KMS({region: 'us-east-1'});\nawait kms.createGrant({KeyId: 'cmk-id', GranteePrincipal: 'arn:aws:iam::CENTRAL_ACCOUNT_ID:role/CentralService', Operations: ['Encrypt','Decrypt']}).promise();\n```\n\n## Follow-up Questions\n- How would you revoke access if a CMK is compromised and ensure no stale grants remain?\n- How would you handle cross-region CMKs and data re-encryption during rotation?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","NVIDIA","Twitter"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-18T15:46:45.630Z","createdAt":"2026-01-18T15:46:45.631Z"},{"id":"q-4077","question":"You operate a public SaaS API behind API Gateway that accepts webhooks from hundreds of customers. To verify payload integrity, you require an HMAC signature per request using a per-customer secret stored securely. Propose a minimal, practical solution using API Gateway and a Lambda authorizer to validate signatures, with per-customer Secrets Manager entries, a scalable onboarding/offboarding process for secrets, and a testing strategy that includes a dry-run mode and rotation?","answer":"Implement a Lambda Authorizer that retrieves per-customer secrets from Secrets Manager, computes an HMAC-SHA256 hash of the webhook payload, and validates it against the X-Webhook-Signature header. Use a consistent naming convention for secret storage (e.g., /webhook-secrets/{customer-id}) and configure the authorizer with least-privilege IAM access limited to reading required secrets. Include a dry-run mode that logs validation results without blocking requests, and leverage Secrets Manager's built-in rotation capabilities for automated secret management.","explanation":"## Why This Is Asked\n\nEvaluates understanding of API security, per-customer secrets, Lambda authorizers, Secrets Manager, and IAM least privilege in a SaaS context.\n\n## Key Concepts\n\n- Lambda authorizers and API Gateway integration\n- Secrets Manager for per-customer secrets and rotation\n- HMAC verification and replay prevention\n- Least-privilege IAM roles and resource policies\n- Onboarding/offboarding and testing strategies\n\n## Code Example\n\n```javascript\nfunction verifyHMAC(payload, receivedSig, secret) {\n  const crypto = require('crypto');\n  const hmac = crypto.createHmac('sha256', secret).u","diagram":"flowchart TD\n  A[Webhook Arrives] --> B[API Gateway]\n  B --> C[Lambda Authorizer]\n  C --> D{Secret Found}\n  D -->|Yes| E[Allow]\n  D -->|No| F[Deny]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Apple","Instacart","Oracle"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-19T05:52:17.334Z","createdAt":"2026-01-18T22:48:23.396Z"},{"id":"q-4188","question":"Design a centralized API surface for a 1000-tenant SaaS where each tenant's data is isolated in per-tenant S3 prefixes and DynamoDB tables in a shared region. Expose the API privately to each tenant via PrivateLink from their VPCs. Describe the end-to-end flow: per-tenant authentication with short-lived tokens, per-tenant IAM roles, data access patterns, onboarding/offboarding, and a test plan proving strict data separation and revocation timing?","answer":"Each tenant gets a scoped IAM role and a short-lived token enforced by the API Gateway authorizer. Endpoints are exposed via PrivateLink; S3 prefixes and DynamoDB tables are policy-scoped to that role","explanation":"## Why This Is Asked\n\nTests ability to architect private, scalable data planes across accounts with strict isolation and lifecycle management.\n\n## Key Concepts\n\n- PrivateLink-based API exposure\n- Per-tenant IAM scoping and token-based auth\n- Data separation in S3 and DynamoDB; KMS key usage\n- Onboarding/offboarding, revocation timing, and drift tests\n\n## Code Example\n\n```bash\n# AWS CLI example (no embedded quotes)\naws iam create-role --role-name tenant-role --assume-role-policy-document file://trust.json\n```\n\n## Follow-up Questions\n\n- How would you implement token revocation across multiple regions?\n- What monitoring would you put in place to detect policy drift?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Google","Netflix","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-19T07:04:03.376Z","createdAt":"2026-01-19T07:04:03.376Z"},{"id":"q-4220","question":"Design a scalable per-tenant data lake ingestion in a multi-account AWS setup: 50 tenants, each in their own account, must contribute logs to a central data lake in a shared account. Use S3 Access Points for per-tenant isolation, per-tenant IAM roles, and a cross-account delivery path (Kinesis Firehose) to the central S3 bucket. Outline onboarding/offboarding, encryption (KMS CMK), auditability, and a test plan that proves isolation and revocation?","answer":"Create a central S3 bucket with per-tenant Access Points and a Firehose delivery role in the central account. Each tenant defines an IAM role trusted by the central account; Firehose writes to the ten","explanation":"## Why This Is Asked\nTests multi-account data ingress, tenant isolation, and secure centralization.\n\n## Key Concepts\n- S3 Access Points; cross-account IAM roles; CMK grants\n- Kinesis Firehose delivery into Access Points\n- Onboarding/offboarding automation and auditability\n\n## Code Example\n```javascript\n// sample IAM policy snippet (conceptual)\n{ \"Version\": \"2012-10-17\", \"Statement\": [ {\"Effect\": \"Allow\", \"Action\": [\"s3:PutObject\"], \"Resource\": \"arn:aws:s3:region:account:accesspoint/tenant-ap*\"}]}\n```\n\n## Follow-up Questions\n- How would you rotate the CMK without downtime?\n- How do you detect and respond to a compromised tenant role?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Coinbase","Snap"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-19T09:11:34.803Z","createdAt":"2026-01-19T09:11:34.803Z"},{"id":"q-4399","question":"Scenario: a multi-tenant SaaS hosts a central analytics API in a single AWS account. Tenants from separate AWS accounts access the API only over private connectivity (no public Internet). Propose an end-to-end PrivateLink design with per-tenant interface endpoints in each tenant account, a PrivateLink endpoint service in the API account, and a cross-account role the provider assumes with least privilege. Include data isolation in DynamoDB (tenant_id as partition key) and per-tenant KMS keys, plus automated onboarding/offboarding (60s revocation) and a thorough test plan for private access and isolation?","answer":"Implement per-tenant PrivateLink: interface endpoints in each tenant account, a PrivateLink service in the API account, and a cross-account role the provider assumes with least privilege. Data isolati","explanation":"## Why This Is Asked\nTests practical mastery of private connectivity, cross-account trust, data isolation, and automated onboarding/offboarding in AWS for multi-tenant SaaS.\n\n## Key Concepts\n- PrivateLink across multiple accounts\n- Per-tenant IAM roles and trust policies\n- DynamoDB tenant_id isolation and tenant-specific KMS keys\n- Automated onboarding/offboarding with Lambda and Step Functions\n- Revocation timing and testability of isolation and lack of Internet exposure\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"Service\": \"ecs-tasks.amazonaws.com\"},\n      \"Action\": \"sts:AssumeRole\",\n      \"Condition\": {\"StringEquals\": {\"aws:SourceAccount\": \"<TenantAccountID>\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you monitor per-tenant usage and enforce quotas?\n- What changes if tenants are in the same account vs separate accounts, or if you add a GA/RLS layer for data access?\n","diagram":"flowchart TD\n  TenantVPC[Tenant VPC] -->|PrivateLink Interface Endpoint| APIService[API Endpoint Service (Provider)]\n  APIService --> DataStore[(DynamoDB: tenant_id PK)]\n  DataStore --> KMS[Tenant KMS Key]\n  Onboard[Onboarding/Offboarding (Step Functions)] --> APIService","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","MongoDB","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-19T17:32:06.835Z","createdAt":"2026-01-19T17:32:06.835Z"},{"id":"q-4428","question":"You operate a private ML inference API hosted in a central AWS account. To serve customers in multiple AWS accounts across regions while avoiding Internet, design a cross-region PrivateLink solution with per-tenant onboarding/offboarding and 60-second revocation. Explain how to publish an endpoint service in each region, create per-tenant interface endpoints, implement Private DNS with Route 53, and constrain access with IAM trust policies and permission boundaries. Include onboarding/testing and cross-region failover steps?","answer":"Design a cross-region PrivateLink for a central ML inference API. Publish a region-specific endpoint service in the provider account; tenants create per-tenant interface endpoints in their VPCs. Use R","explanation":"## Why This Is Asked\nTests ability to reason about cross-region PrivateLink, DNS routing, and rapid revocation in multi-account setups, which are common in enterprise SaaS.\n\n## Key Concepts\n- Cross-region PrivateLink with per-region endpoint services\n- Per-tenant Interface Endpoints in customer VPCs\n- Route 53 Private DNS for service discovery\n- IAM trust policies and permission boundaries for quick revocation\n- Onboarding/offboarding automation and cross-region failover testing\n\n## Code Example\n```javascript\n// IAM trust policy (illustrative)\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"Service\": \"vpce.amazonaws.com\"},\n      \"Action\": \"sts:AssumeRole\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would revocation timing be verified during onboarding/offboarding?\n- What metrics would you monitor to detect cross-region failover issues?","diagram":"flowchart TD\n  A[Provider Account] --> B[Regional Endpoint Service] \n  B --> C[Tenant VPC Interface Endpoint] \n  C --> D[Route 53 Private DNS mapping] \n  D --> E[Traffic to ML API via PrivateLink]","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Databricks","OpenAI","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-19T18:46:11.129Z","createdAt":"2026-01-19T18:46:11.129Z"},{"id":"q-4477","question":"Two AWS accounts, A and B. A publishes user-activity events to EventBridge for real-time processing by a service in B, without public Internet access. Design a minimal cross-account EventBridge setup: (1) how to publish events from A, (2) how B consumes them (Lambda/SQS), (3) DLQ and retries, (4) a quick test plan to verify delivery and at-least-once semantics. Include security and cost considerations?","answer":"Create a dedicated bus in A and a resource policy allowing B to publish. In B deploy a consumer (Lambda or SQS + Lambda) subscribed to A’s bus. Attach permissions for EventBridge to invoke the process","explanation":"## Why This Is Asked\nTests practical cross-account event sharing, permissions, and reliable delivery without Internet access. It also touches error handling and cost considerations for a beginner.\n\n## Key Concepts\n- Cross-account EventBridge publishing and consuming\n- Resource-based policies and IAM roles\n- Dead-letter queues and retry/backoff\n- Observability and basic cost awareness\n\n## Code Example\n```json\n// A: EventBusPolicy allowing account B\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": { \"AWS\": \"arn:aws:iam::ACCOUNT_B_ID:root\" },\n      \"Action\": \"events:PutEvents\",\n      \"Resource\": \"arn:aws:events:region:ACCOUNT_A_ID:event-bus/your-bus\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you handle duplicate events or out-of-order delivery?\n- What would you monitor to ensure latency stays within SLOs? ","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Discord","MongoDB","Snap"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-19T20:40:31.695Z","createdAt":"2026-01-19T20:40:31.695Z"},{"id":"q-4599","question":"Design an AWS-native per-tenant CMEK strategy for a multi-tenant SaaS: each tenant's data resides in their own AWS account and must be encrypted with a customer-managed KMS key (CMEK) owned by the tenant. The service in a central account should be able to perform encryption/decryption on behalf of the tenant using cross-account grants, while no data can be decrypted without explicit tenant authorization. Outline the key policy, IAM roles, cross-account trust, how you rotate keys, and a test plan to verify isolation and revocation?","answer":"Implement per-tenant CMEK: each tenant creates a KMS key in their account; the service in the data plane account obtains temporary credentials to use the key via a cross-account KMS grant. Enforce key","explanation":"## Why This Is Asked\nTests knowledge of KMS CMEK, cross-account IAM, and secure data isolation in multi-tenant SaaS.\n\n## Key Concepts\n- Customer-managed keys per tenant and key policies\n- Cross-account grants and least-privilege roles\n- Key rotation, revocation, and auditability\n- Data plane vs control plane separation\n\n## Code Example\n```javascript\n// Placeholder: AWS SDK calls for creating a grant and encrypting data using a tenant CMEK\nconst kms = new AWS.KMS({region: 'us-east-1'});\nkms.encrypt({KeyId: 'arn:aws:kms:...:tenant-id:key/abc', Plaintext: Buffer.from(data)}, (err, data) => {\n  // handle ciphertext\n});\n```\n\n## Follow-up Questions\n- How would you test tenant isolation at scale across 100s of accounts?\n- How would you implement automatic key rotation and revocation triggers?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Google","Instacart","OpenAI"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-20T04:12:35.682Z","createdAt":"2026-01-20T04:12:35.683Z"},{"id":"q-4625","question":"Design a minimal cross-account data access pattern for a beginner SaaS: a partner account must read only their data stored in an S3 bucket in your account, with no public Internet access. Propose the architecture using a cross-account IAM role, bucket policy, and optional VPC endpoint; specify rotation, revocation, and a simple validation test plan?","answer":"Grant a cross‑account role in the partner account to assume a restricted role in the data account via STS; scope s3:GetObject to a per‑partner prefix; enforce Block Public Access; optional VPC endpoin","explanation":"## Why This Is Asked\nTests understanding of cross‑account access, least privilege, and data isolation in S3 with AWS IAM roles and bucket policies. It also touches on revocation and testing in a real-world partner scenario.\n\n## Key Concepts\n- Cross‑account IAM trust and role policies\n- S3 bucket policies and per‑prefix access\n- Least privilege and access revocation\n- Private access options (VPC endpoint) and public access controls\n\n## Code Example\n```javascript\n// Trust policy (role in data account)\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::<PartnerAcct>:root\"},\n      \"Action\": \"sts:AssumeRole\"\n    }\n  ]\n}\n```\n\n```javascript\n// Role policy: s3:GetObject on partner prefix\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": \"s3:GetObject\",\n      \"Resource\": \"arn:aws:s3:::data-bucket/partner-prefix/*\"\n    }\n  ]\n}\n```\n\n```javascript\n// Bucket policy: allow role to read\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::<DataAcct>:role/PartnerReadRole\"},\n      \"Action\": \"s3:GetObject\",\n      \"Resource\": \"arn:aws:s3:::data-bucket/partner-prefix/*\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you audit access and rotation history for the partner?\n- What failure modes or revocation delays could occur, and how to mitigate?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Slack","Stripe","Zoom"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-20T05:40:39.002Z","createdAt":"2026-01-20T05:40:39.002Z"},{"id":"q-4802","question":"You run a private data ingestion API consumed by tenants across many AWS accounts; all tenant traffic must stay private and not traverse the public Internet. Propose a concrete PrivateLink-based design with per-tenant interface endpoints, DNS, and per-tenant auth; include onboarding/offboarding, revocation timing, and a test plan that proves no public egress?","answer":"Central PrivateLink service in a security/account; per-tenant Interface Endpoints in each tenant VPC; Route53 Private Hosted Zone records api.private for each endpoint; per-tenant IAM role assumed to ","explanation":"## Why This Is Asked\nAssesses practical design of private access across multiple accounts with per-tenant isolation, token-based auth, and automated lifecycle.\n\n## Key Concepts\n- AWS PrivateLink interface endpoints across many tenant VPCs\n- Route53 Private Hosted Zones for private DNS\n- Lambda authorizer token validation and tenant IdP integration\n- IaC-driven onboarding/offboarding and revocation timing\n\n## Code Example\n```plaintext\n# Pseudo-illustrative\nresource aws_vpc_endpoint_service central_api { ... }\nresource aws_vpc_endpoint tenant_ep { ... }\n```\n\n## Follow-up Questions\n- How would you revoke a tenant's access mid-cycle? how would DNS caching affect it?\n- How to scale to thousands of tenants and manage IAM permissions?","diagram":"flowchart TD\n  CentralAPI[Central API Service] --> PrivateLink[Interface Endpoint Service]\n  TenantVPC1[Tenant VPC 1] --> PrivateLink\n  TenantVPC2[Tenant VPC 2] --> PrivateLink\n  DNS[Route53 Private DNS Zone] --> PrivateLink","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["MongoDB","Oracle"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-20T13:28:57.811Z","createdAt":"2026-01-20T13:28:57.811Z"},{"id":"q-4822","question":"Your app runs in a private VPC and must access DynamoDB without any Internet access. Outline a minimal setup: (1) create a gateway VPC endpoint for DynamoDB with private DNS, (2) update route tables in private subnets, (3) attach a least-privilege IAM role to the Lambda to read the DynamoDB table, and (4) a simple test plan to prove no Internet egress and validate access. Include monitoring steps?","answer":"Create a DynamoDB gateway endpoint in the VPC with private DNS, update private subnets' routes to use it, and remove Internet routes for the Lambda. Attach a least-privilege IAM role to the Lambda (dy","explanation":"## Why This Is Asked\nTests understanding of private connectivity to DynamoDB, correct use of a Gateway VPC Endpoint, and how to enforce egress restrictions while ensuring application access.\n\n## Key Concepts\n- Gateway VPC Endpoints for DynamoDB\n- Private DNS resolution in VPC\n- Route table updates for private subnets\n- IAM least-privilege for Lambda\n- Observability: VPC Flow Logs and CloudWatch metrics\n\n## Code Example\n```javascript\n// AWS CLI: create endpoint\naws ec2 create-vpc-endpoint --vpc-id vpc-1234 --service-name com.amazonaws.us-east-1.dynamodb --route-table-ids rtb-1234\n```\n\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [{\"Effect\": \"Allow\",\"Action\": [\"dynamodb:GetItem\",\"dynamodb:Query\",\"dynamodb:Scan\"],\"Resource\": \"arn:aws:dynamodb:us-east-1:123456789012:table/MyTable\"}]\n}\n```\n\n## Follow-up Questions\n- How would you test cross-account DynamoDB access if the table moves accounts?\n- What changes if you require DynamoDB Global Tables? ","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["NVIDIA","PayPal","Twitter"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-20T15:01:20.960Z","createdAt":"2026-01-20T15:01:20.960Z"},{"id":"q-4927","question":"Design a private REST API in a dedicated AWS account, connected to 1,000 tenants via PrivateLink. Each tenant's data must be strictly isolated in a shared DynamoDB table, with per-tenant quotas and per-tenant encryption keys in KMS. Outline architecture, onboarding/offboarding, and a practical test plan for isolation and revocation?","answer":"Use a per-tenant data plane in a shared account: DynamoDB with tenantId as the primary key; API Gateway + Lambda with a per-tenant IAM role (least privilege) and a signed JWT that carries tenantId. En","explanation":"## Why This Is Asked\nTests ability to design tenant isolation, data security, and operational testing in a PrivateLink-first architecture with real-world constraints like key management and onboarding.\n\n## Key Concepts\n- Tenant isolation in DynamoDB using tenantId as the leading key\n- Private connectivity via PrivateLink\n- Per-tenant KMS keys and envelope encryption\n- JWT-based tenant binding with per-tenant IAM roles\n- API Gateway usage plans per tenant\n- Onboarding/offboarding, revocation, and testing\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"dynamodb:PutItem\",\"dynamodb:GetItem\",\"dynamodb:Query\"],\n      \"Resource\": \"arn:aws:dynamodb:region:acct:table/TenantData\",\n      \"Condition\": {\"ForAllValues:StringEquals\": {\"dynamodb:LeadingKeys\": [\"${aws:PrincipalTag/tenantId}\"]}}\n    }\n  ]\n}\n```\n\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"kms:Encrypt\",\"kms:Decrypt\"],\n      \"Resource\": \"arn:aws:kms:region:acct:key/${aws:PrincipalTag/tenantId}\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you monitor for and respond to a potential cross-tenant data access attempt?\n- How would you handle onboarding/offboarding automations and revocation timing at scale?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Goldman Sachs","Meta","PayPal"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-20T19:24:25.246Z","createdAt":"2026-01-20T19:24:25.246Z"},{"id":"q-5053","question":"Design a centralized analytics platform in a multi-account AWS environment where tenants from many accounts stream data privately to a single analytics service. Use Transit Gateway with PrivateLink, per-tenant S3 prefixes, per-tenant IAM roles, and a token-based auth behind API Gateway/Lambda. Include onboarding/offboarding, revocation timing, isolation tests, DR, and cost considerations?","answer":"Centralize in a single analytics account using a Transit Gateway with per-tenant PrivateLink endpoints to the analytics API. Isolate data with per-tenant S3 prefixes and per-tenant KMS CMKs; grant lea","explanation":"## Why This Is Asked\nTests ability to design cross-account, private connectivity with scalable tenant isolation and automation.\n\n## Key Concepts\n- Transit Gateway vs VPC Peering tradeoffs\n- PrivateLink per-tenant endpoints\n- Fine-grained access control with IAM roles and KMS\n- Token-based auth behind API Gateway/Lambda\n- Onboarding/offboarding automation and revocation\n\n## Code Example\n```yaml\n# IaC snippet outline\ntransit_gateway_attachment:\n  tenant_id: \"tenant-123\"\n  vpc_id: vpc-abcdef\n  tgw_id: tgw-12345\n```\n\n## Follow-up Questions\n- How would you test for data leakage across tenants in this setup?\n- How would you handle scaling to thousands of tenants while keeping per-tenant isolation intact?","diagram":"flowchart TD\n  A[Tenant Data] -->|PrivateLink| B[Transit Gateway]\n  B --> C[Analytics API Endpoint]\n  C --> D[S3: Tenant Prefix]\n  C --> E[Auth Service]\n","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Amazon","Anthropic","Google"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-21T04:11:13.564Z","createdAt":"2026-01-21T04:11:13.567Z"},{"id":"q-672","question":"Design a scalable, cost-aware data ingestion and processing pipeline on AWS for 1 TB/day of log data arriving from multiple on-prem and cloud sources. The pipeline must deliver raw data immutably for 90 days, provide near-real-time enrichment within 5 seconds, and support cross-region failover. Specify services, data flows, constraints, and trade-offs?","answer":"Use per-region Kinesis Data Firehose to S3 with Object Lock for immutability, enable SSE-KMS, and enable lifecycle for cost. Run Glue Streaming for enrichment, and DynamoDB to store offsets/state. DLQ","explanation":"## Why This Is Asked\nAssesses design of scalable, compliant pipelines with immutability, latency, DR, and cost in AWS.\n\n## Key Concepts\n- Kinesis Firehose, S3, Object Lock, SSE-KMS\n- Glue Streaming, Lambda, DynamoDB state\n- DLQ, cross-region replication, CloudWatch\n\n## Code Example\n```javascript\n// Pseudo-idempotent Lambda sketch\nconst AWS = require('aws-sdk');\nconst ddb = new AWS.DynamoDB.DocumentClient();\nexports.handler = async (evt) => {\n  const key = { id: evt.id };\n  const exists = await ddb.get({TableName:'Processed', Key:key}).promise();\n  if (exists.Item) return;\n  await ddb.put({TableName:'Processed', Item:{id: evt.id, t: Date.now()}}).promise();\n  // enrich data\n};\n```\n\n## Follow-up Questions\n- How would you validate data quality and schema evolution across regions?\n- How do you handle late-arriving data and reprocessing without duplicating work?","diagram":"flowchart TD\n  A[Ingest] --> B[Kinesis Firehose]\n  B --> C[S3 regional bucket]\n  C --> D[Object Lock: immutability]\n  D --> E[Glue Streaming / Lambda]\n  E --> F[DynamoDB state]\n  F --> G[CloudWatch alarms]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Hashicorp","IBM"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-11T14:44:21.525Z","createdAt":"2026-01-11T14:44:21.525Z"},{"id":"q-930","question":"An existing web service runs on EC2 in a single VPC with an ALB. Traffic surges cause latency spikes and occasional outages during AZ failures. Propose a beginner-friendly, cost-conscious HA setup using an Application Load Balancer, Auto Scaling across at least two AZs, and a relational database option. Include networking, health checks, a scaling policy, and a basic DB deployment choice with trade-offs. What would you implement first and why?","answer":"Create an ALB in front of an ASG spread across two AZs with a CPU-based target tracking policy (min 2, max 6). Use a Multi-AZ RDS or Aurora for the database. Enable CloudWatch alarms for latency and e","explanation":"## Why This Is Asked\n\nAssesses practical HA design, cost awareness, and fundamental AWS components for a resilient web service.\n\n## Key Concepts\n\n- Application Load Balancer\n- Auto Scaling Group across AZs\n- Multi-AZ RDS or Aurora\n- CloudWatch alarms\n- S3 + CloudFront for static assets\n- Cost trade-offs between on-demand instances vs reserved capacity\n\n## Code Example\n\n```yaml\n# Minimal CloudFormation sketch (illustrative only)\nResources:\n  MyALB:\n    Type: AWS::ElasticLoadBalancingV2::LoadBalancer\n    Properties:\n      Name: my-alb\n      Scheme: internet-facing\n  MyTargetGroup:\n    Type: AWS::ElasticLoadBalancingV2::TargetGroup\n    Properties:\n      VpcId: vpc-xxxx\n      Protocol: HTTP\n      Port: 80\n  MyASG:\n    Type: AWS::AutoScaling::AutoScalingGroup\n    Properties:\n      VPCZoneIdentifier:\n        - subnet-aaa\n        - subnet-bbb\n      TargetGroupARNs:\n        - !Ref MyTargetGroup\n      LaunchConfigurationName: !Ref MyLaunchConfig\n```\n\n## Follow-up Questions\n\n- Compare Aurora Provisioned vs Aurora Serverless for this pattern.\n- How would you monitor latency, and what would trigger scale-out vs scale-in?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Amazon","MongoDB"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-12T15:40:08.464Z","createdAt":"2026-01-12T15:40:08.464Z"},{"id":"q-944","question":"Design a multi-tenant SaaS on AWS that ingests telemetry from thousands of tenants daily, enforces strict data isolation, and provides cross-region DR. Outline data partitioning, access control, encryption strategy, immutable logging, and DR failover. Include services, trade-offs, and how you test isolation?","answer":"Partition data per-tenant using S3 prefixes and DynamoDB partitions; enforce per-tenant IAM with IRSA and tight policies. Use a dedicated KMS CMK per tenant for envelope encryption, and store immutabl","explanation":"## Why This Is Asked\nProbes ability to design a scalable, secure, DR-ready multi-tenant architecture on AWS with strict data isolation and auditable controls.\n\n## Key Concepts\n- Tenant isolation across data storage\n- Data partitioning strategies (prefixes, shards)\n- IAM/IRSA with least privilege\n- Envelope encryption with per-tenant KMS keys\n- Immutable logging (S3 Object Lock, CloudTrail)\n- Cross-region DR and failover strategies\n\n## Code Example\n```javascript\n// Example policy shape (illustrative)\nconst policy = {\n  Version: '2012-10-17',\n  Statement: [\n    { Effect: 'Allow', Action: ['s3:GetObject'], Resource: 'arn:aws:s3:::tenant-telemetry/*' }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you test tenant data isolation in production?\n- How would you handle tenant onboarding/offboarding and key rotation?","diagram":"flowchart TD\n  T[Tenant Data Partition] --> I[Identity & Access Control]\n  E[Encryption] --> D[Data Stores]\n  A[Audit Logs] --> C[CloudTrail]\n  DR[DR & Replication] --> R[Route 53 Failover]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Anthropic","Meta","Snap"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-12T16:33:20.453Z","createdAt":"2026-01-12T16:33:20.453Z"},{"id":"q-989","question":"Design a centralized security telemetry pipeline for 1,000 AWS accounts to detect anomalies in near real-time. Ingest VPC Flow Logs, CloudTrail, and GuardDuty findings into a central security account using AWS Organizations, implement least-privilege cross-account roles, normalize data into a common schema in S3, partition by source account and region, apply Lake Formation permissions, and set up alerting with EventBridge and security findings. Include scaling, cost, DR, and testing?","answer":"Use AWS Organizations for centralization, create per-account roles trusted by a dedicated security account, ingest logs via Kinesis Data Firehose into S3, normalize to a common JSON schema with a Lamb","explanation":"## Why This Is Asked\n\nAssesses multi-account security telemetry design, cross-account access, and practical data governance in AWS.\n\n## Key Concepts\n\n- AWS Organizations and SCPs for centralized control\n- Cross-account IAM roles with least privilege\n- Real-time ingestion (Kinesis Firehose) and normalization (Lambda)\n- S3 data lake with partitioning by account/region/date\n- Lake Formation permissions and data catalog hygiene\n- EventBridge integration with security findings\n- Cross-region DR and cost-aware scaling\n\n## Code Example\n\n```javascript\n// Example IAM trust policy for cross-account role\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::SECURITY_ACC_ID:root\"},\n      \"Action\": \"sts:AssumeRole\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n\n- How would you enforce data retention and deletion across accounts?\n- What monitoring would you implement to detect drift in cross-account permissions?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Google","Plaid"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":false,"lastUpdated":"2026-01-12T18:33:59.850Z","createdAt":"2026-01-12T18:33:59.850Z"}],"subChannels":["general"],"companies":["Adobe","Airbnb","Amazon","Anthropic","Apple","Bloomberg","Cloudflare","Coinbase","Databricks","Discord","DoorDash","Goldman Sachs","Google","Hashicorp","Hugging Face","IBM","Instacart","LinkedIn","Lyft","Meta","Microsoft","MongoDB","NVIDIA","Netflix","OpenAI","Oracle","PayPal","Plaid","Robinhood","Salesforce","Scale Ai","Slack","Snap","Snowflake","Square","Stripe","Tesla","Twitter","Two Sigma","Zoom"],"stats":{"total":57,"beginner":19,"intermediate":16,"advanced":22,"newThisWeek":43}}