data/aws-saa.json
{"questions":[{"id":"q-1047","question":"Design a multi-tenant analytics data lake on AWS for 3,000 tenants with strict data isolation. Propose an architecture using a shared S3 data lake with per-tenant prefixes, Lake Formation permissions, and ABAC via tenant tags. Outline governance (IAM, KMS, RAM), onboarding/offboarding automation, cost accounting, and cross-region DR. Include testing strategies to validate isolation and detect privilege escalation?","answer":"Architect a shared S3 data lake with per-tenant prefixes and Lake Formation permissions, plus ABAC via tenant tags and IAM conditions for fine-grained access. Use RAM for cross-account sharing, CMK en","explanation":"## Why This Is Asked\n\nAssesses ability to architect scalable per-tenant isolation in a data lake using Lake Formation, ABAC, and cross-region DR. Evaluates governance, automation, and cost controls.\n\n## Key Concepts\n\n- Shared data lake with per-tenant prefixes\n- Lake Formation fine-grained access controls\n- ABAC via tenant tags and IAM conditions\n- RAM cross-account sharing and CMK encryption\n- Automated onboarding/offboarding and cost accounting\n- Cross-region DR and isolation validation\n\n## Code Example\n\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"s3:GetObject\"],\n      \"Resource\": \"arn:aws:s3:::mylake/tenant-*/data/*\",\n      \"Condition\": {\"StringEquals\": {\"s3:ExistingObjectTag/Tenant\": \"TenantA\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n\n- How would you validate tenant isolation in non-prod environments without impacting customers?\n- What DR testing plan and failure scenarios would you run to ensure resilience?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","Robinhood","Snowflake"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-12T20:32:54.576Z","createdAt":"2026-01-12T20:32:54.576Z"},{"id":"q-1203","question":"A web app runs in a private subnet in a VPC with no Internet access. It must fetch a config.json from a single S3 bucket owned by the same account. Design the minimal IAM role for the EC2 instance, a bucket policy, and a VPC endpoint setup to allow access via the VPC endpoint while denying access to other buckets. What steps and policies would you implement?","answer":"Create an IAM role with s3:GetObject permission for the specific object, set up a Gateway VPC endpoint for S3, configure route tables to direct S3 traffic to the endpoint, and implement a bucket policy that allows access only from the VPC endpoint while denying all other access.","explanation":"## Why This Is Asked\nTests practical implementation of least-privilege access patterns combining IAM roles, VPC endpoints, and bucket policies for secure private subnet access.\n\n## Key Concepts\n- IAM instance roles for EC2\n- Gateway VPC endpoints for S3\n- Route table configuration for private subnets\n- Bucket policies with VPCE conditions\n- Defense-in-depth with deny-by-default\n\n## Implementation Steps\n\n### 1. IAM Role for EC2 Instance\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": \"s3:GetObject\",\n      \"Resource\": \"arn:aws:s3:::config-bucket/config.json\"\n    }\n  ]\n}\n```\n\n### 2. Create S3 Gateway VPC Endpoint\n```bash\naws ec2 create-vpc-endpoint \\\n  --vpc-id vpc-12345678 \\\n  --service-name com.amazonaws.<region>.s3 \\\n  --route-table-ids rtb-private-subnet \\\n  --policy-document '{\n    \"Version\": \"2012-10-17\",\n    \"Statement\": [\n      {\n        \"Effect\": \"Allow\",\n        \"Principal\": \"*\",\n        \"Action\": [\"s3:GetObject\"],\n        \"Resource\": \"arn:aws:s3:::config-bucket/config.json\"\n      }\n    ]\n  }'\n```\n\n### 3. S3 Bucket Policy with VPCE Condition\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::<account-id>:role/ec2-config-role\"},\n      \"Action\": \"s3:GetObject\",\n      \"Resource\": \"arn:aws:s3:::config-bucket/config.json\",\n      \"Condition\": {\n        \"StringEquals\": {\n          \"aws:SourceVpce\": \"vpce-12345678\"\n        }\n      }\n    },\n    {\n      \"Effect\": \"Deny\",\n      \"Principal\": \"*\",\n      \"Action\": \"s3:*\",\n      \"Resource\": \"arn:aws:s3:::config-bucket/*\",\n      \"Condition\": {\n        \"StringNotEquals\": {\n          \"aws:SourceVpce\": \"vpce-12345678\"\n        }\n      }\n    }\n  ]\n}\n```\n\n### 4. Route Table Configuration\n```bash\n# Add route to S3 VPC endpoint\naws ec2 create-route \\\n  --route-table-id rtb-private-subnet \\\n  --destination-prefix 0.0.0.0/0 \\\n  --vpc-endpoint-id vpce-12345678\n```\n\n### 5. Security Group for VPC Endpoint\n```json\n{\n  \"Description\": \"Allow HTTPS for S3 endpoint\",\n  \"IpPermissions\": [\n    {\n      \"IpProtocol\": \"tcp\",\n      \"FromPort\": 443,\n      \"ToPort\": 443,\n      \"UserIdGroupPairs\": [{\"GroupId\": \"sg-private-subnet\"}]\n    }\n  ]\n}\n```\n\n## Testing and Validation\n```bash\n# Test from EC2 instance\naws s3 cp s3://config-bucket/config.json ./config.json\n\n# Verify VPCE usage in CloudTrail logs\n# Check that requests come from the VPC endpoint\n```\n\n## Security Considerations\n- IAM role provides object-level access only\n- VPC endpoint policy restricts to specific object\n- Bucket policy enforces VPCE-only access\n- No internet gateway required\n- Defense-in-depth with multiple policy layers","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","DoorDash","Snowflake"],"eli5":null,"relevanceScore":null,"voiceKeywords":["iam role","vpc endpoint","bucket policy","private subnet","least privilege","gateway vpc endpoint","route tables","vpce conditions"],"voiceSuitable":true,"isNew":true,"lastUpdated":"2026-01-13T12:22:33.465Z","createdAt":"2026-01-13T04:50:53.820Z"},{"id":"q-1318","question":"A Secrets Manager secret in account A stores DB credentials used by an app in account B. You need a Lambda in account B to rotate the secret daily. Describe the cross-account access setup, including the secret's resource policy, the Lambda's execution role, and the minimal privileges on the DB user, plus a simple test plan?","answer":"Attach a resource policy on the secret in account A granting Secrets Manager to rotate and read the secret to the Lambda role in account B. Create a cross-account role in A trusted by the Lambda in B;","explanation":"## Why This Is Asked\nThis tests cross-account Secrets Manager rotation, IAM trust, and a verifiable test plan for beginners.\n\n## Key Concepts\n- Secrets Manager rotation workflow\n- Cross-account IAM roles and resource policies\n- Least privilege and auditing\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::ACCOUNT_B:role/SecretRotator\"},\n      \"Action\": [\"secretsmanager:RotateSecret\",\"secretsmanager:GetSecretValue\",\"secretsmanager:DescribeSecret\"],\n      \"Resource\": \"arn:aws:secretsmanager:REGION:ACCOUNT_A:secret:secret-name\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you rotate a credential for an RDS instance? \n- How would you monitor rotation success and audit access?","diagram":"flowchart TD\nA[Secret in Account A] --> B[Rotation Lambda (Account B) tries rotate]\nB --> C[PutSecretValue / RotateSecret]\nC --> D[DB credentials updated]\nD --> E[App (Account B) uses new creds]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","Coinbase"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-13T11:31:32.841Z","createdAt":"2026-01-13T11:31:32.841Z"},{"id":"q-1390","question":"In a managed SaaS environment, each customer gets its own AWS account under a shared Organization. You require SSO-based access to their account via IAM Identity Center, provisioning per-customer roles via SCIM, with temporary credentials; ensure strict tenant isolation and prevent cross-tenant access. Describe the IAM role structure, trust/policy design, SSO mappings, and use of SCPs, tagging, and audit strategy. Include how you'd validate isolation and detect misconfigurations?","answer":"Leverage Organizations per-tenant accounts; IAM Identity Center with SCIM to provision per-customer users; assign a per-tenant role with a permission boundary; use trust with Identity Center; enforce ","explanation":"## Why This Is Asked\nTests multi-tenant access at scale using IAM Identity Center, SCIM, SCPs, and governance.\n\n## Key Concepts\n- IAM Identity Center and SCIM provisioning\n- AWS Organizations and per-tenant accounts\n- Trust policies for federated access\n- Permissions boundaries and least privilege\n- Resource tagging and centralized auditing (CloudTrail, Config)\n\n## Code Example\n```javascript\nconst trustPolicy = {\n  Version: \"2012-10-17\",\n  Statement: [\n    {\n      Effect: \"Allow\",\n      Principal: { Federated: \"arn:aws:iam::111111111111:saml-provider/IdentityCenter\" },\n      Action: \"sts:AssumeRole\",\n      Condition: { StringEquals: { \"SAML:aud\": \"https://signin.aws.amazon.com/saml\" } }\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you test for cross-tenant access leakage?\n- How would you automate onboarding/offboarding with SCIM and rotate credentials?","diagram":"flowchart TD\n  A[Tenant account] --> B[Identity Center]\n  B --> C[per-tenant role]\n  C --> D[STS AssumeRole with temporary credentials]\n  D --> E[Audit: CloudTrail + Config]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["DoorDash","Lyft","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-13T14:50:47.983Z","createdAt":"2026-01-13T14:50:47.983Z"},{"id":"q-1402","question":"Scenario: You operate a multi-tenant SaaS on AWS. Each tenant stores its data in separate accounts with per-tenant prefixes in S3 and DynamoDB. Partners require selective data exports to their accounts for analytics. Design a scalable, secure data export and access model that guarantees tenant isolation, supports per-tenant export scopes, uses least-privilege cross-account roles, per-tenant KMS keys, and catalog governance (Lake Formation/Data Catalog). Include onboarding/offboarding, cost controls, monitoring, and testability?","answer":"Implement per-tenant cross-account export roles in partner accounts with a trusted role in the tenant account; govern access via Lake Formation catalog permissions scoped to the tenant; share a restri","explanation":"## Why This Is Asked\n\nThis question probes practical cross-account data sharing with strict tenant isolation, governance, and lifecycle in a SaaS context. Candidates must translate policy, IAM, KMS, Lake Formation, and monitoring into an end-to-end solution.\n\n## Key Concepts\n\n- least-privilege cross-account access\n- Lake Formation data governance\n- per-tenant KMS keys and envelope encryption\n- onboarding/offboarding and revocation\n- monitoring, drift testing, and auditability\n\n## Code Example\n\n```javascript\n// Cross-account trust policy example\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": { \"AWS\": \"arn:aws:iam::PARTNER_ACC_ID:role/PartnerExportRole\" },\n      \"Action\": \"sts:AssumeRole\",\n      \"Condition\": { \"StringEquals\": { \"sts:ExternalId\": \"tenant-abc-export\" } }\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n\n- How would you detect and remediate policy drift across 50+ accounts?\n- How would you validate data isolation using Lake Formation and Athena queries?","diagram":null,"difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Airbnb","Databricks","Netflix"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-13T15:43:51.889Z","createdAt":"2026-01-13T15:43:51.889Z"},{"id":"q-1425","question":"In a multi-tenant SaaS on AWS with per-tenant accounts and a central analytics account, design secure cross-account access so tenants can query their data without seeing others. Describe the cross-account role structure, trust policies, session controls, least-privilege, and validation/audit approach for onboarding/offboarding?","answer":"Create per-tenant cross-account roles in the analytics account (arn:aws:iam::ANALYTICS:role/TenantQueryRole) with a trust policy that allows sts:AssumeRole only from the tenant account IDs. Attach a l","explanation":"## Why This Is Asked\n- Tests cross-account trust design and least-privilege controls in a multi-tenant SaaS\n- Probes data isolation through per-tenant prefixes and policy-based controls\n- Evaluates automated onboarding/offboarding and auditability\n\n## Key Concepts\n- Cross-account IAM roles, STS AssumeRole, session policies\n- Data isolation with per-tenant prefixes and least privilege access\n- SCPs to prevent cross-tenant access and CloudTrail for audit\n\n## Code Example\n\n```javascript\n// design-focused: no runnable code required\n```\n\n## Follow-up Questions\n- How would you automate tenant onboarding to provision roles and rotate credentials?\n- How would you validate isolation after onboarding and detect misconfigurations?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Microsoft","Salesforce","Scale Ai"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-13T16:46:57.507Z","createdAt":"2026-01-13T16:46:57.508Z"},{"id":"q-1515","question":"Scenario: A Lambda function in a VPC must securely retrieve a DB password from Secrets Manager to connect to an RDS instance. The secret is encrypted with a customer-managed CMK in the same account. Describe the exact IAM policy statements for the Lambda execution role to permit GetSecretValue and DescribeSecret on that secret, and kms:Decrypt on the CMK; include any needed resource-based or key policies and how you’d validate least privilege and rotation compatibility?","answer":"Lambda role policy: allow secrets:GetSecretValue, secrets:DescribeSecret on the secret ARN; kms:Decrypt on the CMK. If needed, add a Secrets Manager resource policy granting the role and ensure KMS ke","explanation":"## Why This Is Asked\nTests IAM, Secrets Manager, KMS, and least-privilege design for a common pattern.\n\n## Key Concepts\n- IAM policies and resource-based policies\n- Secrets Manager access and GetSecretValue\n- KMS Decrypt with CMK permissions\n- VPC-bound Lambda security and rotation compatibility\n\n## Code Example\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\"Effect\": \"Allow\", \"Action\": [\"secretsmanager:GetSecretValue\", \"secretsmanager:DescribeSecret\"], \"Resource\": \"arn:aws:secretsmanager:REGION:ACCOUNT:secret:dbpassword-*\"},\n    {\"Effect\": \"Allow\", \"Action\": \"kms:Decrypt\", \"Resource\": \"arn:aws:kms:REGION:ACCOUNT:key/CMK_ID\"}\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you test rotation compatibility with this setup?\n- How would you extend to cross-account secrets access without leaking privileges?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Databricks","Meta","Snowflake"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-13T19:51:11.860Z","createdAt":"2026-01-13T19:51:11.860Z"},{"id":"q-1532","question":"Design a per-tenant, region-aware analytics pipeline for a multi-account AWS SaaS where each tenant's data residency must stay in its region. Explain how you’d enforce data locality, isolate tenant data, share insights back to a central analytics account, and test DR?","answer":"Implement a regional data plane where tenant data remains in its designated region within S3, secured by tenant-scoped Lake Formation permissions. Utilize STS AssumeRole for cross-account analytics access from a central account, enforced through explicit tenant tags and Service Control Policies that maintain regional boundaries. Deploy per-tenant Glue databases with column-level security controls, and leverage PrivateLink for secure analytics connectivity. For disaster recovery, validate regional failover capabilities by simulating region outages and confirming tenant data replication to backup regions while preserving strict isolation.","explanation":"## Why This Is Asked\nTests the ability to design region-aware data pipelines in multi-account AWS environments while enforcing strict data residency and isolation requirements with centralized analytics capabilities.\n\n## Key Concepts\n- Data residency and regional data storage\n- Per-tenant IAM roles and STS cross-account access\n- Lake Formation and Glue permissions by tenant\n- Service Control Policies and tagging for isolation\n- Private connectivity via PrivateLink for analytics\n\n## Code Example\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Ac\"","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Bloomberg","Google"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T06:34:52.222Z","createdAt":"2026-01-13T20:48:52.418Z"},{"id":"q-1566","question":"In a multi-tenant SaaS on AWS, each tenant's data sits in a separate prefix under a shared data lake. Propose a beginner-friendly, cost-conscious approach to let tenants access their own analytics dashboards through a central BI tool without cross-tenant data exposure. Specify IAM patterns, data access controls, and how you'd validate isolation and cost?","answer":"Implement a cross-account per-tenant role model. The BI tool operates in a shared analytics account and assumes dedicated tenant-specific roles to access only their respective S3 prefix (lake/tenant-id/*) with s3:GetObject permissions. Enforce least privilege through service control policies that restrict role assumption to the analytics account exclusively. Create tenant-specific IAM roles with inline policies scoped precisely to their S3 prefix, and optionally leverage AWS Lake Formation for additional column-level security when required.","explanation":"## Why This Is Asked\nTests ability to design secure multi-tenant data isolation, implement proper access controls, and maintain cost awareness in a common SaaS architecture pattern.\n\n## Key Concepts\n- Multi-tenant isolation using S3 prefixes and per-tenant IAM roles\n- Cross-account access with principle of least privilege\n- Service control policies for centralized governance\n- Cost-effective shared BI tooling with tenant-specific access\n- Validation through automated testing and cost monitoring\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"s3:GetObject\"],\n      \"Resource\": \"arn:aws:s3:::lake/tenant-id/*\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you handle tenant onboarding and role automation?\n- What monitoring would you implement to detect potential cross-tenant access?\n- How would this design scale to hundreds of tenants?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Microsoft","Robinhood"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T06:18:21.443Z","createdAt":"2026-01-13T21:52:16.521Z"},{"id":"q-1592","question":"An analytics SaaS runs in a single AWS region with private data stores. You must enable cross‑region DR with automated failover to a secondary region within 30 minutes, preserving tenant isolation and continuous client access. Design the architecture using Aurora Global Database, S3 cross‑region replication, Route 53 failover, per‑tenant data partitioning, and regionally isolated KMS keys. Include data‑sync, cutover automation, and a testing plan?","answer":"Deploy Aurora Global Database across us-east-1 and us-west-2 to replicate the OLTP workload with near-zero RPO; configure S3 cross-region replication for backups; implement per-tenant data partitioning with regionally isolated KMS CMKs; establish Route 53 failover routing with health checks; automate cutover using Systems Manager Automation or Step Functions.","explanation":"## Why This Is Asked\nTests DR strategy, cross-region replication, tenant isolation, and automation under realistic constraints.\n\n## Key Concepts\n- Aurora Global Database for cross-region replication\n- S3 cross-region replication for backups\n- Regionally isolated KMS CMKs and per-tenant data partitioning\n- Route 53 failover routing with health checks\n- Systems Manager Automation or Step Functions for DR runbooks\n\n## Code Example\n```bash\n# Enable Aurora Global Database across two regions (example CLI; adjust identifiers)\naws rds create-db-cluster --engine aurora-mysql --global-cluster-name SaaS-","diagram":"flowchart TD\n  A[Primary region us-east-1] --> B[Replica region us-west-2]\n  B --> C[Promote replica on failover]\n  A --> D[S3 cross-region backups]\n  E[DNS failover via Route 53] --> F[Client endpoints]\n  G[KMS CMKs per region] --> H[Tenant data isolation]","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Databricks","Microsoft"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T05:34:58.788Z","createdAt":"2026-01-13T23:26:33.476Z"},{"id":"q-1778","question":"You run a multi-tenant SaaS on AWS with a central control plane and per-tenant accounts. On signup, you must provision a dedicated VPC Endpoint service and per-tenant IAM roles with least privilege for cross-account access, revocable within 60 seconds. Describe the architecture, trust policies, RAM/PrivateLink usage, SCIM provisioning, and how you would automate validation and rollback with EventBridge and Step Functions?","answer":"Use a central control plane to provision per-tenant accounts with AWS RAM and PrivateLink. Each tenant account gets a dedicated role (trusted by the control plane via sts:AssumeRole) with least-privil","explanation":"**Why This Is Asked**\nInterviewers test multi-tenant governance, cross-account trust, and automation for isolated customer environments using PrivateLink, RAM, and SCIM in a scalable SaaS model.\n\n## Key Concepts\n- PrivateLink and VPC Endpoint Services for private connectivity\n- AWS RAM for sharing resources across accounts\n- Cross-account IAM roles with strict trust policies\n- SCIM provisioning for onboarding/offboarding\n- EventBridge and Step Functions for automated workflows\n- Audit via CloudTrail and drift rollback strategies\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\"Effect\": \"Allow\", \"Action\": \"sts:AssumeRole\", \"Resource\": \"arn:aws:iam::CENTRAL:role/ControlPlaneRole\"},\n    {\"Effect\": \"Allow\", \"Action\": [\"execute-api:Invoke\"], \"Resource\": \"arn:aws:execute-api:*\"}\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you test tenant revocation latency and verify no cached credentials exist?\n- How would you enforce per-tenant data residency and monitor drift across accounts?","diagram":"flowchart TD\n  Signup[Signup] --> ProvisionSCIM[SCIM Onboarding]\n  ProvisionSCIM --> SharePrivateLink[Share PrivateLink via RAM]\n  SharePrivateLink --> TenantRole[Tenant Role Created]\n  TenantRole --> AccessGrant[Access Granted]\n  AccessGrant --> AuditRevocation[Audit & Revocation Timer]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","Instacart","NVIDIA"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T10:42:12.277Z","createdAt":"2026-01-14T10:42:12.277Z"},{"id":"q-1796","question":"Scenario: A SaaS runs per-tenant accounts across AWS Organizations. A tenant's IAM role is suspected to be compromised, enabling sideways access to the central control plane. Propose a zero-downtime incident response workflow that (a) detects via CloudTrail/GuardDuty/EventBridge, (b) revokes the compromised role’s trust, (c) isolates the tenant from cross-account access, and (d) notifies security and customer teams within 60 seconds. Include workflow steps and rollback?","answer":"To detect and contain a compromised per-tenant IAM role within 60 seconds, bootstrap a triad: feed CloudTrail, GuardDuty, and IAM access analyzer findings to EventBridge; trigger a Step Functions stat","explanation":"## Why This Is Asked\nTests incident response speed and cross-account boundary control for SaaS tenants.\n\n## Key Concepts\n- CloudTrail/GuardDuty/EventBridge integration; IAM trust policies; cross-account access revocation; Step Functions orchestration; Organization SCPs; automated validation.\n\n## Code Example\n\n```javascript\n// Sample Step Functions state machine (pseudo)\n{\n  Comment: 'Incident response for compromised tenant role',\n  StartAt: 'Validate',\n  States: {\n    Validate: { Type: 'Task', Resource: 'arn:aws:lambda:...:function:ValidateIncident', Next: 'IsValid' },\n    IsValid: { Type: 'Choice', Choices: [{ Variable: '$.valid', BooleanEquals: true, Next: 'Quarantine' }] },\n    Quarantine: { Type: 'Task', Resource: 'arn:aws:lambda:...:function:QuarantineTenant', Next: 'Notify' },\n    Notify: { Type: 'Task', Resource: 'arn:aws:lambda:...:function:Notify', Next: 'Done' },\n    Done: { Type: 'Succeed' }\n  }\n}\n```\n\n## Follow-up Questions\n\n- How would you test fail-safe rollback and ensure minimal impact to tenants?\n- What telemetry would you add to verify containment success across accounts?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Adobe","Goldman Sachs","Google"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T11:30:07.578Z","createdAt":"2026-01-14T11:30:07.580Z"},{"id":"q-1826","question":"Design a self-serve cross-account restore workflow: a tenant requests data restore from a central backup vault into their own AWS account. Outline the per-tenant cross-account role with TTL, trust policy, least-privilege permissions, and how you orchestrate AWS Backup restore, validation, and rollback within SLA?","answer":"Implement a per-tenant cross-account role in the tenant account that central backup can assume for 15 minutes. Central AWS Backup vault restores S3 objects and DynamoDB items into the tenant. Orchestr","explanation":"## Why This Is Asked\nTests cross-account trust, TTL-based access, and automated data restore with validation and rollback, all under realistic SLA constraints.\n\n## Key Concepts\n- Cross-account roles with time-bounded access\n- AWS Backup vaults and per-resource policies\n- Data restore for S3 and DynamoDB across accounts\n- Orchestration with Step Functions and EventBridge\n- Validation checksums, counts, and rollback mechanisms\n\n## Code Example\n```javascript\n// Pseudocode: assume tenant role, start restore, validate, rollback if needed\nasync function restoreTenantData(tenantAccountId, resourceArns){\n  const roleArn = `arn:aws:iam::${process.env.CENTER_ACCOUNT}:role/BackupRestore_${tenantAccountId}`;\n  const creds = await sts.assumeRole({RoleArn: roleArn, RoleSessionName: 'restore', DurationSeconds: 900});\n  // Use creds to invoke AWS Backup restore workflow\n  // Validate and rollback logic here\n}\n```\n\n## Follow-up Questions\n- How would you test TTL revocation reliability in failure scenarios?\n- How do you handle partial restores and idempotency across tenants?","diagram":"flowchart TD\n  A[Tenant restore request] --> B[AssumeRole with TTL]\n  B --> C[AWS Backup restore]\n  C --> D[Validation (checksums/totals)]\n  D --> E{Validation OK?}\n  E --> |Yes| F[Mark restore complete]\n  E --> |No| G[Rollback and alert]","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Airbnb","Apple","Oracle"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T13:08:38.015Z","createdAt":"2026-01-14T13:08:38.015Z"},{"id":"q-1866","question":"You operate a multi-tenant SaaS on AWS with per-tenant data stored in separate accounts. Upon signup, you need to provision an isolated workspace with a per-tenant VPC, a dedicated KMS CMK for data at rest, and strictly limited cross-account access for support tooling that can revoke within 60 seconds. Describe the end-to-end architecture, including IAM/RAM roles, SCPs, KMS key management, S3 and DynamoDB data isolation, and how you test onboarding/rollback and audits at scale?","answer":"Structure: One Org, per-tenant accounts. Each tenant gets a dedicated KMS CMK for at-rest encryption; S3 bucket/prefix scoped to the tenant with bucket policy and IAM condition on tenant-id; DynamoDB ","explanation":"## Why This Is Asked\nThis question probes the candidate's ability to design multi-tenant isolation, cross-account access, and auditable governance at scale, including encryption, data access boundaries, and automated validation.\n\n## Key Concepts\n- AWS Organizations and per-tenant accounts\n- KMS CMKs and encryption key policies\n- S3 and DynamoDB data isolation patterns\n- IAM, RAM, and SCPs for least privilege\n- Observability: CloudTrail, Config, Access Analyzer\n\n## Code Example\n```javascript\n// Example IAM policy illustrating tenant-scoped S3 access\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"s3:GetObject\",\"s3:ListBucket\"],\n      \"Resource\": [\"arn:aws:s3:::tenant-bucket-*/tenant-data/*\"],\n      \"Condition\": {\"StringEquals\": {\"aws:PrincipalTag/tenantId\": \"${aws:PrincipalTag/tenantId}\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you automate onboarding and revocation to meet a 60-second SLA?\n- What cost/complexity trade-offs would you consider for large numbers of tenants?","diagram":"flowchart TD\nA[Management Account] --> B[Tenant Accounts]\nB --> C[S3 per tenant]\nB --> D[DynamoDB per tenant / Global Tables]\nA --> E[KMS CMKs in each account]\nA --> F[Onboarding/Revocation Roles]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Salesforce","Twitter"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T14:53:47.659Z","createdAt":"2026-01-14T14:53:47.659Z"},{"id":"q-1920","question":"You operate a multi-tenant SaaS on AWS with per-tenant accounts under an Organization. A tenant triggers suspicious activity suggesting cross-account data exfiltration. Design a zero-downtime incident response that detects via CloudTrail/EventBridge/GuardDuty, revokes trust and rotates CMKs, quarantines the tenant with SCPs, and notifies teams within 60 seconds. Include rollback steps and testing strategy?","answer":"Runbook outline: (1) EventBridge routes CloudTrail/GuardDuty findings to Step Functions; (2) revoke tenant trust (modify the IAM role's trust policy and detach cross-account permissions) and enforce a","explanation":"## Why This Is Asked\nAssesses rapid, automated containment of tenant-level security incidents with cross-account controls, while preserving service availability. Candidates must wire detection to automated playbooks, implement least privilege revocation, and ensure auditable rollback.\n\n## Key Concepts\n- AWS Organizations SCPs for tenant isolation\n- IAM cross-account trust and role revocation\n- KMS CMK rotation and data re-encryption\n- EventBridge + Step Functions for incident orchestration\n- GuardDuty/CloudTrail signals for data exfiltration\n\n## Code Example\n```javascript\n// Example: minimal Step Functions integration sketch (pseudo)\nconst { SFNClient, StartExecutionCommand } = require('@aws-sdk/client-sfn');\n// Triggered by EventBridge; orchestrates revocation, rotation, and quarantine steps\n```\n\n## Follow-up Questions\n- How would you test this with canaries in a staging tenant?\n- What are race conditions and how would you mitigate them during rollback?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Oracle","Tesla","Two Sigma"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T17:05:33.684Z","createdAt":"2026-01-14T17:05:33.685Z"},{"id":"q-1974","question":"You run a multi-tenant SaaS on AWS that provisions per-tenant data pipelines (Glue/EMR) on signup. Tenants upload ETL scripts; you must sandbox execution with strict runtime and cost caps, guarantee per-tenant data isolation, and enable revocation within 60 seconds. Describe the control plane, roles, policies, data isolation, and rollback/audit strategy?","answer":"Use a per-tenant IAM role scoped to that tenant’s resources, a dedicated S3 prefix and CMK, and a dry-run validation in a sandbox before real execution. Orchestrate with Step Functions to grant tempor","explanation":"## Why This Is Asked\n\nTests ability to design per-tenant isolation, automated validation, and controlled execution for customer scripts, including ephemeral access and robust rollback.\n\n## Key Concepts\n\n- Per-tenant IAM roles and scoped resource access\n- Sandbox and dry-run execution patterns\n- Cross-account least-privilege and temporary credentials\n- Cost controls, budget alarms, and automatic teardown\n- Auditing with CloudTrail and EventBridge\n\n## Code Example\n\n```json\n{\n  \"StartAt\": \"DryRunValidation\",\n  \"States\": {\n    \"DryRunValidation\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:lambda:region:acct:function:DryRunValidator\",\n      \"Next\": \"GrantTempAccess\"\n    },\n    \"GrantTempAccess\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:iam::acct:policy/GrantTenantAccess\",\n      \"Next\": \"ExecutePipeline\"\n    },\n    \"ExecutePipeline\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::glue:startJobRun.sync\",\n      \"End\": true\n    }\n  }\n}\n```\n\n## Follow-up Questions\n\n- How would you handle script updates or rollbacks without data loss?\n- How would you test the sandboxing and budget-breach paths in CI/CD?","diagram":"flowchart TD\n  A[Signup] --> B[Provision Sandbox]\n  B --> C[Dry-Run Validation]\n  C --> D[Grant Temporary Access]\n  D --> E[Execute Pipeline]\n  E --> F[Tear Down & Audit]","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Salesforce","Scale Ai"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-14T19:29:07.565Z","createdAt":"2026-01-14T19:29:07.566Z"},{"id":"q-2056","question":"Scenario: A multi-tenant SaaS stores each customer's data in a regional S3 bucket owned by that customer, with your service ingesting data via cross-account roles. On signup you must provision a per-tenant IAM role, per-tenant KMS CMK, and per-tenant Lake Formation permissions, with revocation within 60 seconds if policy is violated. Describe the architecture, trust policies, and automation (EventBridge, Step Functions, RAM) to onboard, rotate keys, and revoke access?","answer":"On signup, create a dedicated KMS CMK in the tenant's account, an IAM role in the service account with a restricted trust policy, and Lake Formation permissions bound to a per-tenant tag. Use RAM to share the tenant's S3 bucket with the service account, then trigger an EventBridge rule that starts a Step Functions workflow to orchestrate the onboarding process. The workflow provisions the IAM role with cross-account trust, creates the KMS CMK with automatic rotation, and applies Lake Formation permissions using the tenant tag for isolation. For revocation, implement continuous monitoring with CloudWatch alarms that trigger EventBridge rules to invoke a Step Functions cleanup workflow, which removes Lake Formation grants, deletes the IAM role, and schedules KMS key deletion within the 60-second SLA.","explanation":"## Why This Is Asked\nTests ability to architect cross-account data access with strict isolation, automated provisioning, and rapid revocation. Emphasizes KMS key management, Lake Formation grants, RAM sharing, and EventBridge/Step Functions orchestration.\n\n## Key Concepts\n- Cross-account IAM roles and trust policies\n- KMS CMK lifecycle and rotation\n- Lake Formation data access constraints\n- Data sharing with RAM\n- EventBridge/Step Functions workflows\n\n## Code Example\n```javascript\n// Pseudo: onboarding pipeline steps\nconst onboardingWorkflow = {\n  steps: [\n    'Create KMS CMK in tenant account',\n    'Provision cross-account IAM role',\n    'Configure Lake Formation permissions',\n    'Establish RAM bucket sharing',\n    'Set up monitoring and revocation triggers'\n  ]\n};\n```","diagram":"flowchart TD\n  Onboard[Onboard Tenant] --> CreateRole[Create Cross-Account Role]\n  Onboard --> ShareBucket[Share Bucket via RAM]\n  Onboard --> ConfigureLF[Configure Lake Formation]\n  Violation[Policy Violation] --> Revoke[Revoke Access within 60s]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Coinbase","MongoDB","Square"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T05:51:21.999Z","createdAt":"2026-01-14T22:43:43.779Z"},{"id":"q-2149","question":"In a two-account setup (dev and prod), how would you grant a developer permission to deploy to prod S3 and prod ECR via a cross-account role with MFA, using minimal permissions and fast revocation? Describe the trust policy, role inline permissions, and a basic CI check to verify access?","answer":"Create a ProdAccessRole on prod with a trust policy allowing sts:AssumeRole from the dev account, conditioned on MFA. Attach a least-privilege policy granting S3:PutObject on prod-bucket and ECR:PutIm","explanation":"## Why This Is Asked\n\nTests basic cross-account access, MFA gating, least privilege, and revocation flows; practical for a beginner to demonstrate policy drafting and CI validation.\n\n## Key Concepts\n\n- Cross-account IAM roles with trust policies\n- MFA conditions in trust policy\n- Least privilege permissions for S3 and ECR\n- Revocation strategies (disable trust, delete role)\n- CI validation of IAM access\n\n## Code Example\n\n```javascript\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Action\": [\"sts:AssumeRole\"],\n      \"Principal\": {\"AWS\": \"arn:aws:iam::DEV_ACCOUNT_ID:root\"},\n      \"Condition\": {\"Bool\": {\"aws:MultiFactorAuthPresent\": \"true\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n\n- How would you rotate credentials and monitor role usage?\n- How would you enforce MFA for developers from CI/CD pipelines?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Hugging Face","LinkedIn","NVIDIA"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T04:29:00.469Z","createdAt":"2026-01-15T04:29:00.469Z"},{"id":"q-2177","question":"Design a scalable, private cross-tenant analytics model for a SaaS where each tenant has an isolated AWS account. Propose how to share aggregated data to a central analytics account using cross-account IAM roles, Lake Formation permissions, and KMS; outline onboarding/offboarding with EventBridge and Step Functions, data access revocation within 60 seconds, auditing, and failure recovery?","answer":"Architect a centralized analytics account that consumes per-tenant data via cross-account IAM roles and Lake Formation permissions. Store raw and curated data under tenant prefixes in S3 with CMK-prot","explanation":"## Why This Is Asked\n\nTests ability to design cross-account data sharing with strict isolation, automated provisioning, and rapid revocation.\n\n## Key Concepts\n\n- Cross-account IAM roles\n- Lake Formation permissions\n- KMS CMK management and grants\n- EventBridge and Step Functions orchestration\n- Data residency prefixes and auditing\n- DR and failure paths\n\n## Code Example\n\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"<source-account-ARN>\"},\n      \"Action\": \"sts:AssumeRole\",\n      \"Condition\": {\"StringEquals\": {\"sts:ExternalId\": \"<tenant-id>\"}}\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n\n- How would you test onboarding latency and rollback?\n- How would you enforce least privilege and monitor drift across accounts?\n","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Coinbase","Instacart","Zoom"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T06:46:20.674Z","createdAt":"2026-01-15T06:46:20.674Z"},{"id":"q-2269","question":"You operate a SaaS on AWS with 1,000 tenant accounts under an Organization. Tenants demand data residency in their own region and private cross-region analytics access to a centralized data lake. Design an end-to-end solution that (1) isolates per-tenant data in region-scoped S3 buckets with per-tenant KMS keys, (2) enforces Lake Formation permissions per tenant, (3) connects privately to regional hubs via PrivateLink, (4) supports cross-region replication with controlled consent, and (5) provides a 60-second rollback workflow using EventBridge and Step Functions, plus automated tests and drift checks?","answer":"Propose a multi-region, tenant-isolated data lake using per-tenant accounts in AWS Organizations, region-scoped S3 with customer-managed KMS keys, Lake Formation permissions, and PrivateLink to region","explanation":"## Why This Is Asked\n\nAssesses ability to design cross-region data residency, strict data isolation, and automated rollback in a multi-account AWS environment.\n\n## Key Concepts\n\n- AWS Organizations multi-account governance and service control\n- Region-scoped S3 buckets and per-tenant KMS keys for data sovereignty\n- Lake Formation permissions and principled data access\n- PrivateLink for private connectivity to regional data-hubs\n- Cross-region replication with tenant-level controls\n- 60-second rollback using Step Functions + EventBridge\n- Automated tests and drift/compliance checks\n\n## Code Example\n\n```javascript\n// Example: basic per-tenant trust for cross-account role\nconst trustPolicy = {\n  Version: \"2012-10-17\",\n  Statement: [{\n    Effect: \"Allow\",\n    Principal: { AWS: \"arn:aws:iam::TENANT_ACCOUNT:role/TenantAppRole\" },\n    Action: \"sts:AssumeRole\"\n  }]\n};\n\n// Minimal Step Functions skeleton for rollback workflow (pseudo)\nconst sfDefinition = {\n  Comment: \"Tenant data residency rollback\",\n  StartAt: \"Validate\",\n  States: {\n    Validate: { Type: \"Pass\", Next: \"Rollback\" },\n    Rollback: { Type: \"Fail\", Cause: \"Trigger rollback\" }\n  }\n};\n```\n\n## Follow-up Questions\n\n- How would you validate data residency compliance across new tenants during signup?\n- What monitoring and alerting would you add to detect cross-region replication drift and ensure timely remediation?","diagram":"flowchart TD\n  A[Tenant Accounts] --> B[Region-scoped S3 + KMS]\n  B --> C[Lake Formation Permissions]\n  C --> D[PrivateLink Hub]\n  D --> E[Central Data Lake]\n  E --> F[EventBridge + Step Functions rollback]\n  F --> G[Automated Tests/Drift Checks]","difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Airbnb","Databricks","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T09:51:05.426Z","createdAt":"2026-01-15T09:51:05.426Z"},{"id":"q-2284","question":"Design an automated containment workflow for a 50-account AWS environment. When GuardDuty flags a compromised EC2 in any development account, automatically isolate the host within 60 seconds by detaching the ENI, revoking outbound traffic via Security Groups, and exporting forensics data to the central security account. Minimize production impact and ensure a rollback path with false-positive handling. Describe architecture, cross-account IAM roles, EventBridge/Step Functions flow, and testing strategy?","answer":"Design a cross-account containment flow triggered by GuardDuty findings via EventBridge, using a central security role to assume per-account SSM. It detaches the EC2 ENI, updates Security Groups to de","explanation":"## Why This Is Asked\n\nTests automated containment across many AWS accounts with auditability, speed, and false‑positive handling. It probes cross‑account IAM design, secure L2 containment actions (ENI/SG changes), and forensics data handling.\n\n## Key Concepts\n\n- GuardDuty findings and EventBridge routing\n- Step Functions orchestration and rollback paths\n- Cross‑account IAM roles and SSM Run Command permissions\n- ENI detachment, Security Group re‑scoping, and forensics data export\n- False‑positive handling and production impact minimization\n\n## Code Example\n\n```javascript\n// Pseudo-step functions state machine\n{\n  \"Comment\": \"Containment\",\n  \"StartAt\": \"CheckFinding\",\n  \"States\": { \"CheckFinding\": { \"Type\": \"Choice\", \"Choices\": [] } }\n}\n```\n\n## Follow-up Questions\n\n- How would you test this workflow in CI/CD and simulate false positives?\n- How would you adapt for cross-region incidents and ensure immutable audit logs?","diagram":"flowchart TD\nA[GuardDuty finding] --> B[EventBridge: finding matched]\nB --> C[Step Functions: containment flow]\nC --> D[Assume cross-account role]\nD --> E[SSM Run Command: modify ENI/SG]\nE --> F[Forensics data to S3 in security acct]\nF --> G[Notify & audit log]\nC --> H[Rollback/false-positive path]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Hashicorp","Meta"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T10:44:09.917Z","createdAt":"2026-01-15T10:44:09.917Z"},{"id":"q-2381","question":"Design a scalable data-access pattern for a multi-tenant SaaS on AWS where each tenant’s data must be privately accessible by a third-party ML partner (Databricks, Snowflake, or OpenAI) via private connectivity, without data leakage or public Internet. Describe per-tenant PrivateLink endpoints, cross-account RAM shares, strict IAM trusts, governance via Lake Formation or bucket policies, 60-second revocation, and auditing?","answer":"Use per-tenant PrivateLink endpoints in a dedicated VPC to the partner service, with a cross-account IAM role in the partner account and a restricted trust policy. Share access via RAM to a tenant-sco","explanation":"## Why This Is Asked\n- Tests private connectivity, cross-account IAM, and data governance in multi-tenant SaaS.\n- Evaluates security, auditability, and revocation guarantees.\n\n## Key Concepts\n- PrivateLink, RAM, cross-account IAM trusts, Lake Formation, bucket policies, revocation workflows.\n\n## Code Example\n```json\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\"Effect\": \"Allow\", \"Principal\": {\"Service\": \"ram.amazonaws.com\"},\n     \"Action\": [\"ram:GetResourceShareAssociations\"],\n     \"Resource\": \"*\"}\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you monitor for unauthorized access attempts?\n- How would you test revocation latency end-to-end?","diagram":"flowchart TD\n  A[Tenant VPC] -->|PrivateLink| B[Partner Service Endpoint]\n  B --> C[Partner Service]\n  A --> D[Audit & Revocation]\n  E[IAM Trust Policy] --> F[RAM Share]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Databricks","OpenAI","Snowflake"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-15T15:45:35.197Z","createdAt":"2026-01-15T15:45:35.197Z"},{"id":"q-2567","question":"You run a small web app in a single AWS region with minimal downtime constraints. Propose a beginner-friendly disaster recovery plan that uses S3 for backups, RDS automated backups or DynamoDB backups, Route 53 failover routing to a secondary region, and a one-click failover test. Describe how you'd validate RTO/RPO and the cost implications, with minimal operational effort?","answer":"Implement a comprehensive two-region disaster recovery strategy using AWS managed services. Configure S3 cross-region replication to automatically back up application data and assets to the secondary region. For databases, enable RDS automated backups with cross-region snapshot replication for relational databases, or leverage DynamoDB global tables for built-in multi-region availability. Set up Route 53 health checks with failover routing policies to automatically redirect traffic to the secondary region when the primary becomes unavailable. Create a one-click failover validation test using AWS Systems Manager Automation documents or Lambda functions that simulate failover scenarios and measure performance. Calculate RTO by timing the complete failover process from detection to full service restoration, and determine RPO by analyzing backup retention periods and replication lag. This approach typically costs approximately 2x the primary region resources plus incremental cross-region data transfer fees, but delivers enterprise-grade resilience with minimal operational overhead through automated backup and recovery processes.","explanation":"## Why This Is Asked\nThis question assesses practical disaster recovery knowledge, cross-region data protection strategies, and automation approaches suitable for small-scale applications with resilience requirements.\n\n## Key Concepts\n- Cross-region data replication and backup strategies\n- Route 53 failover routing with health checks\n- RTO/RPO validation through automated testing\n- Cost-benefit analysis for multi-region deployments\n- Operational overhead minimization through managed services\n\n## Code Example\n```javascript\n// Lambda function for automated DR validation and failover testing\nexports.handler = async () => {\n  // Implementation: Route 53 health check validation and DNS routing test\n  // Measures failover timing and validates secondary region readiness\n};\n```","diagram":"flowchart TD\nA[Single Region App] --> B[Backups to S3]\nB --> C[Snapshots/Global Tables]\nC --> D[Route 53 Failover to DR Region]\nD --> E[One-click Failover Test]\nE --> F[Cost & Validation]","difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["NVIDIA","Tesla"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-16T05:21:14.443Z","createdAt":"2026-01-15T23:30:37.247Z"},{"id":"q-2629","question":"Scenario: A SaaS running across two AWS regions must ensure tenant data residency by storing each tenant's data only in their assigned region and enabling revocation of access within 60 seconds; design an end-to-end architecture using AWS Organizations, PrivateLink Endpoint Services, per-tenant IAM roles with SCPs, DynamoDB Local/Global Tables and S3 region replication, and an automated revocation workflow via Step Functions and EventBridge, including failure modes and DR/cost tradeoffs?","answer":"End-to-end: assign each tenant to a region; private access via PrivateLink Endpoint Services; store tenant data in region-local DynamoDB and S3 with per-tenant isolation; IAM roles scoped with least p","explanation":"Why This Is Asked\nTests data residency enforcement, cross-region isolation, and rapid revocation in a multi-tenant AWS setup. It blends PrivateLink, per-tenant IAM/SCPs, regional data stores, and event-driven revocation to surface practical tradeoffs.\n\nKey Concepts\n- Data residency and cross-account security\n- PrivateLink, Endpoint Services, IAM SCPs\n- DynamoDB/S3 regional design and replication\n- EventBridge + Step Functions for revocation\n- DR, cost, and failover considerations\n\nCode Example\n```typescript\n// Example CDK snippet sketch (not runnable):\nconst eps = new PrivateLinkService(this, 'TenantSvc', { /*...*/ });\nconst table = new dynamodb.Table(this, 'TenantTable', { /* region-scoped */ });\n```\n\nFollow-up Questions\n- How would you measure revocation latency end-to-end?\n- How would onboarding/offboarding tenants affect isolation guarantees and costs?","diagram":"flowchart TD\n  CP[Control Plane] --> TR[Tenant Region Assignment]\n  TR --> DR[DynamoDB Global Tables / Region Local]\n  TR --> SR[S3 Local Buckets]\n  CP --> PL[PrivateLink Endpoint Service]\n  PL --> TV[Tenant VPCs]\n  CP --> RW[Revocation Workflow]\n  RW --> EF[EventBridge + Step Functions]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Cloudflare","Microsoft"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-16T04:13:39.541Z","createdAt":"2026-01-16T04:13:39.541Z"},{"id":"q-672","question":"Design a scalable, cost-aware data ingestion and processing pipeline on AWS for 1 TB/day of log data arriving from multiple on-prem and cloud sources. The pipeline must deliver raw data immutably for 90 days, provide near-real-time enrichment within 5 seconds, and support cross-region failover. Specify services, data flows, constraints, and trade-offs?","answer":"Use per-region Kinesis Data Firehose to S3 with Object Lock for immutability, enable SSE-KMS, and enable lifecycle for cost. Run Glue Streaming for enrichment, and DynamoDB to store offsets/state. DLQ","explanation":"## Why This Is Asked\nAssesses design of scalable, compliant pipelines with immutability, latency, DR, and cost in AWS.\n\n## Key Concepts\n- Kinesis Firehose, S3, Object Lock, SSE-KMS\n- Glue Streaming, Lambda, DynamoDB state\n- DLQ, cross-region replication, CloudWatch\n\n## Code Example\n```javascript\n// Pseudo-idempotent Lambda sketch\nconst AWS = require('aws-sdk');\nconst ddb = new AWS.DynamoDB.DocumentClient();\nexports.handler = async (evt) => {\n  const key = { id: evt.id };\n  const exists = await ddb.get({TableName:'Processed', Key:key}).promise();\n  if (exists.Item) return;\n  await ddb.put({TableName:'Processed', Item:{id: evt.id, t: Date.now()}}).promise();\n  // enrich data\n};\n```\n\n## Follow-up Questions\n- How would you validate data quality and schema evolution across regions?\n- How do you handle late-arriving data and reprocessing without duplicating work?","diagram":"flowchart TD\n  A[Ingest] --> B[Kinesis Firehose]\n  B --> C[S3 regional bucket]\n  C --> D[Object Lock: immutability]\n  D --> E[Glue Streaming / Lambda]\n  E --> F[DynamoDB state]\n  F --> G[CloudWatch alarms]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Hashicorp","IBM"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-11T14:44:21.525Z","createdAt":"2026-01-11T14:44:21.525Z"},{"id":"q-930","question":"An existing web service runs on EC2 in a single VPC with an ALB. Traffic surges cause latency spikes and occasional outages during AZ failures. Propose a beginner-friendly, cost-conscious HA setup using an Application Load Balancer, Auto Scaling across at least two AZs, and a relational database option. Include networking, health checks, a scaling policy, and a basic DB deployment choice with trade-offs. What would you implement first and why?","answer":"Create an ALB in front of an ASG spread across two AZs with a CPU-based target tracking policy (min 2, max 6). Use a Multi-AZ RDS or Aurora for the database. Enable CloudWatch alarms for latency and e","explanation":"## Why This Is Asked\n\nAssesses practical HA design, cost awareness, and fundamental AWS components for a resilient web service.\n\n## Key Concepts\n\n- Application Load Balancer\n- Auto Scaling Group across AZs\n- Multi-AZ RDS or Aurora\n- CloudWatch alarms\n- S3 + CloudFront for static assets\n- Cost trade-offs between on-demand instances vs reserved capacity\n\n## Code Example\n\n```yaml\n# Minimal CloudFormation sketch (illustrative only)\nResources:\n  MyALB:\n    Type: AWS::ElasticLoadBalancingV2::LoadBalancer\n    Properties:\n      Name: my-alb\n      Scheme: internet-facing\n  MyTargetGroup:\n    Type: AWS::ElasticLoadBalancingV2::TargetGroup\n    Properties:\n      VpcId: vpc-xxxx\n      Protocol: HTTP\n      Port: 80\n  MyASG:\n    Type: AWS::AutoScaling::AutoScalingGroup\n    Properties:\n      VPCZoneIdentifier:\n        - subnet-aaa\n        - subnet-bbb\n      TargetGroupARNs:\n        - !Ref MyTargetGroup\n      LaunchConfigurationName: !Ref MyLaunchConfig\n```\n\n## Follow-up Questions\n\n- Compare Aurora Provisioned vs Aurora Serverless for this pattern.\n- How would you monitor latency, and what would trigger scale-out vs scale-in?","diagram":null,"difficulty":"beginner","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Amazon","MongoDB"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-12T15:40:08.464Z","createdAt":"2026-01-12T15:40:08.464Z"},{"id":"q-944","question":"Design a multi-tenant SaaS on AWS that ingests telemetry from thousands of tenants daily, enforces strict data isolation, and provides cross-region DR. Outline data partitioning, access control, encryption strategy, immutable logging, and DR failover. Include services, trade-offs, and how you test isolation?","answer":"Partition data per-tenant using S3 prefixes and DynamoDB partitions; enforce per-tenant IAM with IRSA and tight policies. Use a dedicated KMS CMK per tenant for envelope encryption, and store immutabl","explanation":"## Why This Is Asked\nProbes ability to design a scalable, secure, DR-ready multi-tenant architecture on AWS with strict data isolation and auditable controls.\n\n## Key Concepts\n- Tenant isolation across data storage\n- Data partitioning strategies (prefixes, shards)\n- IAM/IRSA with least privilege\n- Envelope encryption with per-tenant KMS keys\n- Immutable logging (S3 Object Lock, CloudTrail)\n- Cross-region DR and failover strategies\n\n## Code Example\n```javascript\n// Example policy shape (illustrative)\nconst policy = {\n  Version: '2012-10-17',\n  Statement: [\n    { Effect: 'Allow', Action: ['s3:GetObject'], Resource: 'arn:aws:s3:::tenant-telemetry/*' }\n  ]\n}\n```\n\n## Follow-up Questions\n- How would you test tenant data isolation in production?\n- How would you handle tenant onboarding/offboarding and key rotation?","diagram":"flowchart TD\n  T[Tenant Data Partition] --> I[Identity & Access Control]\n  E[Encryption] --> D[Data Stores]\n  A[Audit Logs] --> C[CloudTrail]\n  DR[DR & Replication] --> R[Route 53 Failover]","difficulty":"advanced","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Anthropic","Meta","Snap"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-12T16:33:20.453Z","createdAt":"2026-01-12T16:33:20.453Z"},{"id":"q-989","question":"Design a centralized security telemetry pipeline for 1,000 AWS accounts to detect anomalies in near real-time. Ingest VPC Flow Logs, CloudTrail, and GuardDuty findings into a central security account using AWS Organizations, implement least-privilege cross-account roles, normalize data into a common schema in S3, partition by source account and region, apply Lake Formation permissions, and set up alerting with EventBridge and security findings. Include scaling, cost, DR, and testing?","answer":"Use AWS Organizations for centralization, create per-account roles trusted by a dedicated security account, ingest logs via Kinesis Data Firehose into S3, normalize to a common JSON schema with a Lamb","explanation":"## Why This Is Asked\n\nAssesses multi-account security telemetry design, cross-account access, and practical data governance in AWS.\n\n## Key Concepts\n\n- AWS Organizations and SCPs for centralized control\n- Cross-account IAM roles with least privilege\n- Real-time ingestion (Kinesis Firehose) and normalization (Lambda)\n- S3 data lake with partitioning by account/region/date\n- Lake Formation permissions and data catalog hygiene\n- EventBridge integration with security findings\n- Cross-region DR and cost-aware scaling\n\n## Code Example\n\n```javascript\n// Example IAM trust policy for cross-account role\n{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n      \"Effect\": \"Allow\",\n      \"Principal\": {\"AWS\": \"arn:aws:iam::SECURITY_ACC_ID:root\"},\n      \"Action\": \"sts:AssumeRole\"\n    }\n  ]\n}\n```\n\n## Follow-up Questions\n\n- How would you enforce data retention and deletion across accounts?\n- What monitoring would you implement to detect drift in cross-account permissions?","diagram":null,"difficulty":"intermediate","tags":["aws-saa"],"channel":"aws-saa","subChannel":"general","sourceUrl":null,"videos":{"shortVideo":null,"longVideo":null},"companies":["Google","Plaid"],"eli5":null,"relevanceScore":null,"voiceKeywords":null,"voiceSuitable":false,"isNew":true,"lastUpdated":"2026-01-12T18:33:59.850Z","createdAt":"2026-01-12T18:33:59.850Z"}],"subChannels":["general"],"companies":["Adobe","Airbnb","Amazon","Anthropic","Apple","Bloomberg","Cloudflare","Coinbase","Databricks","DoorDash","Goldman Sachs","Google","Hashicorp","Hugging Face","IBM","Instacart","LinkedIn","Lyft","Meta","Microsoft","MongoDB","NVIDIA","Netflix","OpenAI","Oracle","Plaid","Robinhood","Salesforce","Scale Ai","Snap","Snowflake","Square","Tesla","Twitter","Two Sigma","Zoom"],"stats":{"total":28,"beginner":7,"intermediate":10,"advanced":11,"newThisWeek":28}}